/* @override 
	http://dev-ssix.gfm.co.uk/css/style.css
	http://clevergames.com/prototypes/ssas-proto/css/style.css
	http://clevergames.com/prototypes/ssas-proto//css/style.css
	http://clevergames.com/prototypes/ssas-proto-b/css/style.css */

/*! SIX A SIDE B VERSION!! */

@font-face {
    font-family: SkyRegular;
    src: local("â˜º"), url("../fonts/skynews-webfont.woff");
    font-weight:100;
}

@font-face {
    font-family: SkyRegular;
    src: url("../fonts/skyreg-webfont.eot");
    src: local("â˜º"), url("../fonts/skyreg-webfont.woff") format("woff"), url("../fonts/skyreg-webfont.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: SkyMedium;
    src: url("../fonts/skymed-webfont.eot");
    src: local("â˜º"), url("../fonts/skymed-webfont.woff") format("woff"), url("../fonts/skymed-webfont.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: SkyBold;
    src: url("../fonts/skybold-webfont.eot");
    src: local("â˜º"), url("../fonts/skybold-webfont.woff") format("woff"), url("../fonts/skybold-webfont.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'skycons';
    src: url("../fonts/skycons-1.3.8.eot");
    src: url("../fonts/skycons-1.3.8.eot?#iefix") format("embedded-opentype"), url("../fonts/skycons-1.3.8.woff") format("woff"), url("../fonts/skycons-1.3.8.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #fff;
    font-family:SkyRegular, arial, sans-serif;font-weight:400;
}

h1, h2, h3, h4, h5, h6  {
    font-family: SkyMedium, arial, sans-serif;
    font-weight:400
}

h3.notification {
  width: 70%;
  font: 1.2em SkyRegular;
  font-weight: normal;
  font-style: normal;
  color: #1040a6;
  background-color: #c4d2e7;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border-radius: 4px;
}

.padded {
  padding: 0.8em;
}

.no-action {
  opacity: 0.5;
  cursor: default !important;
}

.marginbottom {
    margin-bottom: 10px !important;
}

.nomarginbottom {
    margin-bottom: 0px !important;
}

.contentcontainer {
    display: block;
    clear: both;
    background: -webkit-linear-gradient(top, #8694ac 0%, #98a6c2 100%);
    background: -moz-linear-gradient(top, #8694ac 0%, #98a6c2 100%);
    background: -ms-linear-gradient(top, #8694ac 0%, #98a6c2 100%);
    background: linear-gradient(to bottom, #8694ac 0%, #98a6c2 100%);
    padding: 0.2em;
    margin: 0;
  position: relative;
}

.tabscontentcontainer {
  padding: 1em;
}


.contentcontainer p {
    color: #fff;
    text-align: center;
    margin-bottom: 0;
}

.powerplay {
}

.powerplaysingle h3 {
    color: #fff;
    text-align: center;
    font-size: 1.4em;
    border-radius: 4px !important;
    margin-top: 10px;
  margin-bottom: 0;
}

.powerplaysingle h4 {
    color: #fff;
    text-align: center;
    font-size: 1em;
    border-radius: 4px !important;
}

.powerplaysingle {
    border-radius: 4px !important;
    text-align: center;
  width: 100%;
  margin: 0;
}

.powerplaysingle .switch.radius {
    margin-bottom: 10px;
}


h3.headerbar {
  color: #fff;
  font: 0.9em SkyRegular, arial, sans-serif;
  line-height: 25px;
  height: 25px;
  text-align: center;
  clear: both;
  display: block;
  margin: 0;
  text-shadow: 0 1px 1px #010961;
}

h3.headerbar.large {
  padding: 5px;
  clear: both;
  width: 100%;
  margin: 0;
  display: block;
  height: 82px;
  font-size: 1.1em;
}

h3.headerbar.large select {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  display: block;
  margin-top: 5px;
}

h3.titlebar {
  color: #fff;
    font: 1.2em SkyRegular, arial, sans-serif;
    line-height: 54px;
    height: 50px;
  text-align: center;
  clear: both;
  display: block;
  margin: 0;
  border-radius: 4px;
  position: relative;
}

h3.largeheaderbar {
  font: 1.2em SkyRegular, arial, sans-serif;
}



i.fa.fa-check-circle-o.checkedstep1 {
  position: absolute;
  font-size: 18px;
  right: 0;
  background: -webkit-linear-gradient(top, #7887a3 0%, #53617a 100%) #7888a3;
  background: -moz-linear-gradient(top, #7887a3 0%, #53617a 100%) #7888a3;
  background: -ms-linear-gradient(top, #7887a3 0%, #53617a 100%) #7888a3;
  background: linear-gradient(to bottom, #7887a3 0%, #53617a 100%) #7888a3;
  -moz-box-shadow: inset 0 0 5px #2e3643;
  box-shadow: inset 0 0 5px #2e3643;
  padding: 5px;
  border-radius: 40px !important;
  width: 26px;
  height: 26px;
  line-height: normal;
  text-align: center;
    top: 13px;
}

.bubblepanel {
  color: #fff;
  font: 1.4em SkyRegular, arial, sans-serif;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.maincontainer {
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    background: url('../images/hero.jpg')  center top no-repeat #fff;;
}

.header-home .maincall {
  padding-top: 15px;
  padding-bottom: 20px;
  clear: both;
  display: block;
  background-image: -webkit-linear-gradient(top, #183ea5 0%, #061d80 100%);
  background-image: -moz-linear-gradient(top, #183ea5 0%, #061d80 100%);
  background-image: -ms-linear-gradient(top, #183ea5 0%, #061d80 100%);
  background-image: linear-gradient(to bottom, #183ea5 0%, #061d80 100%);
}

.header-home h1,
.header-home h2 {
    color: #fff;
  text-align: center;
    margin: 0 0 10px;
  line-height: 100%;
  font-size: 2em;
}

.header-home h2 {
    font-size: 68px;
}

.header-home p {
    text-align: center;
    color: #fff;
}

.header-home .button {
    margin-right: auto;
    margin-left: auto;
    display: block;
    line-height: 50px !important;
    height: 50px !important;
    font-size: 1.5em;
    margin-bottom: 0;
  width: 300px;
}

.pundit-zone {
    
}

.pundit-widget {
    margin-bottom: 1em;
    border: 1px solid #c5c5ce;
    background-image: -webkit-linear-gradient(top, white 0%, #eaeaea 88.3%);
    background-image: -moz-linear-gradient(top, white 0%, #eaeaea 88.3%);
    background-image: -ms-linear-gradient(top, white 0%, #eaeaea 88.3%);
    background-image: linear-gradient(to bottom, white 0%, #eaeaea 88.3%);
    padding: 0;
    border-radius: 4px;
    position: relative;
    height: 169px;
    overflow: hidden;
}

img.punditimage {
    width: 50%;
    max-height: ;
    float: right;
    position: absolute;
    right: -10px;
    z-index: 0;
    top: 0;
}

.pundit-widget h3 {
    font: 1.6em/110% SkyMedium;
    padding: 0.5em;
    margin: 0;
    font-weight: normal;
    font-style: normal;
    color: #081163;
}

.punditelite-pick {
    margin-bottom: 0;
    margin-left: 5%;
    width: 90%;
    display: block;
    clear: both;
    height: 40px;
    line-height: 40px;
    font-size: 1.2em;
    text-indent: 10px;
    border-radius: 4px;
    border: 1px solid #c4c4ce;
    z-index: 10;
    position: absolute;
    bottom: 20px;
}

img.teambadge {
    width: 50px;
    height: 50px;
    float: right;
    margin-top: -6px;
    margin-right: 6px;
}

.steptext {
    color: #fff;
    text-align: center;
}

.steptext h3 {
    color: #fff;
    text-align: center;
    font-size: 1.2em;
}

.stepnumber {
    font-size: 2em;
    color: #fff;
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 20px auto 10px;
    background-image: -webkit-linear-gradient(top, #5f6e8a 0%, #6f82a1 100%);
    background-image: -moz-linear-gradient(top, #5f6e8a 0%, #6f82a1 100%);
    background-image: -ms-linear-gradient(top, #5f6e8a 0%, #6f82a1 100%);
    background-image: linear-gradient(to bottom, #5f6e8a 0%, #6f82a1 100%);
    border-radius: 40px;
    line-height: 60px;
    -moz-box-shadow: inset 0 0 3px #262931;
    box-shadow: inset 0 0 3px #262931;
}

h3.powerplay {
    
}


/* Grads - GLASS */

.mainblueskygrad {
    background-image: -webkit-linear-gradient(top, #1c4aa7 0%, #325fb7 48.3%, #1b4eaf 49.2%, #1d53bc 100%);
  background-image: -moz-linear-gradient(top, #1c4aa7 0%, #325fb7 48.3%, #1b4eaf 49.2%, #1d53bc 100%);
  background-image: -ms-linear-gradient(top, #1c4aa7 0%, #325fb7 48.3%, #1b4eaf 49.2%, #1d53bc 100%);
  background-image: linear-gradient(to bottom, #1c4aa7 0%, #325fb7 48.3%, #1b4eaf 49.2%, #1d53bc 100%);
}

.headerbar {
  background: -webkit-linear-gradient(top, #2e63c8 0%, #0b3ba2 100%) #031d98;
  background: -moz-linear-gradient(top, #2e63c8 0%, #0b3ba2 100%) #031d98;
  background: -ms-linear-gradient(top, #2e63c8 0%, #0b3ba2 100%) #031d98;
  background: linear-gradient(to bottom, #2e63c8 0%, #0b3ba2 100%) #031d98;
}

.darkblueglass {
    text-decoration: none;
    text-shadow: 0 1px 0 #1c2353;
    background-color: #1c3267;
    background-clip: padding-box;
    background-image: -webkit-linear-gradient(top, rgb(5, 19, 83) 0%, #646c87 8.2%, #1e285d 19.5%, #020e4c 24.7%, rgb(20, 33, 89) 41.5%, #0f2582 69.6%, rgb(18, 39, 143) 79.9%, rgb(20, 42, 153) 100%);
    background-image: -moz-linear-gradient(top, rgb(5, 19, 83) 0%, #646c87 8.2%, #1e285d 19.5%, #020e4c 24.7%, rgb(20, 33, 89) 41.5%, #0f2582 69.6%, rgb(18, 39, 143) 79.9%, rgb(20, 42, 153) 100%);
    background-image: -o-linear-gradient(top, rgb(5, 19, 83) 0%, #646c87 8.2%, #1e285d 19.5%, #020e4c 24.7%, rgb(20, 33, 89) 41.5%, #0f2582 69.6%, rgb(18, 39, 143) 79.9%, rgb(20, 42, 153) 100%);
    background-image: linear-gradient(to bottom, rgb(5, 19, 83) 0%, #646c87 8.2%, #1e285d 19.5%, #020e4c 24.7%, rgb(20, 33, 89) 41.5%, #0f2582 69.6%, rgb(18, 39, 143) 79.9%, rgb(20, 42, 153) 100%);
    border: 2px solid #033264;
    -moz-box-shadow: inset 0 0 10px #1b3166;
    box-shadow: inset 0 0 10px #1b3166;
}

.redglass {
    text-decoration: none;
    background-color: #e40403;
    background-clip: padding-box;
    background-image: -webkit-linear-gradient(top, rgb(150, 16, 16) 0%, #cd4d4d 8.2%, #811414 19.5%, #900505 24.7%, rgb(157, 30, 30) 41.5%, #d51a1a 69.6%, rgb(230, 15, 15) 79.9%, rgb(241, 9, 9) 100%);
    background-image: -moz-linear-gradient(top, rgb(150, 16, 16) 0%, #cd4d4d 8.2%, #811414 19.5%, #900505 24.7%, rgb(157, 30, 30) 41.5%, #d51a1a 69.6%, rgb(230, 15, 15) 79.9%, rgb(241, 9, 9) 100%);
    background-image: -o-linear-gradient(top, rgb(150, 16, 16) 0%, #cd4d4d 8.2%, #811414 19.5%, #900505 24.7%, rgb(157, 30, 30) 41.5%, #d51a1a 69.6%, rgb(230, 15, 15) 79.9%, rgb(241, 9, 9) 100%);
    background-image: linear-gradient(to bottom, rgb(150, 16, 16) 0%, #cd4d4d 8.2%, #811414 19.5%, #900505 24.7%, rgb(157, 30, 30) 41.5%, #d51a1a 69.6%, rgb(230, 15, 15) 79.9%, rgb(241, 9, 9) 100%);
    border: 1px solid #d51a19;
    -moz-box-shadow: inset 0 0 10px #8f1111;
    box-shadow: inset 0 0 10px #8f1111;
}

.greyglass {
    background-image: -webkit-linear-gradient(top, #f7f8f7 7.7%, #cacaca 16.1%, #b2b2b2 19.8%, #b1b2b1 35.7%, #edefee 74.5%, #fafdfb 86.6%);
    background-image: -moz-linear-gradient(top, #f7f8f7 7.7%, #cacaca 16.1%, #b2b2b2 19.8%, #b1b2b1 35.7%, #edefee 74.5%, #fafdfb 86.6%);
    background-image: -ms-linear-gradient(top, #f7f8f7 7.7%, #cacaca 16.1%, #b2b2b2 19.8%, #b1b2b1 35.7%, #edefee 74.5%, #fafdfb 86.6%);
    background-image: linear-gradient(to bottom, #f7f8f7 7.7%, #cacaca 16.1%, #b2b2b2 19.8%, #b1b2b1 35.7%, #edefee 74.5%, #fafdfb 86.6%);
    color: #0e1e5b;
}

.greyglass-angle {
    background: -webkit-linear-gradient(-100deg, rgba(233, 233, 233, 0.9) 7.7%, rgba(223, 223, 223, 0.89) 32.3%, rgba(218, 218, 218, 0.89) 46.4%, rgba(217, 217, 217, 0.92) 50.4%, rgba(209, 209, 209, 0.92) 51.7%, rgba(151, 151, 151, 0.91) 62.1%, rgba(237, 237, 237, 0.9) 78.3%, rgba(234, 235, 234, 0.9) 86.6%) #f7f8f7;
  background: -moz-linear-gradient(-100deg, rgba(233, 233, 233, 0.9) 7.7%, rgba(223, 223, 223, 0.89) 32.3%, rgba(218, 218, 218, 0.89) 46.4%, rgba(217, 217, 217, 0.92) 50.4%, rgba(209, 209, 209, 0.92) 51.7%, rgba(151, 151, 151, 0.91) 62.1%, rgba(237, 237, 237, 0.9) 78.3%, rgba(234, 235, 234, 0.9) 86.6%) #f7f8f7;
  background: -ms-linear-gradient(-100deg, rgba(233, 233, 233, 0.9) 7.7%, rgba(223, 223, 223, 0.89) 32.3%, rgba(218, 218, 218, 0.89) 46.4%, rgba(217, 217, 217, 0.92) 50.4%, rgba(209, 209, 209, 0.92) 51.7%, rgba(151, 151, 151, 0.91) 62.1%, rgba(237, 237, 237, 0.9) 78.3%, rgba(234, 235, 234, 0.9) 86.6%) #f7f8f7;
  background: -o-linear-gradient(-100deg, rgba(233, 233, 233, 0.9) 7.7%, rgba(223, 223, 223, 0.89) 32.3%, rgba(218, 218, 218, 0.89) 46.4%, rgba(217, 217, 217, 0.92) 50.4%, rgba(209, 209, 209, 0.92) 51.7%, rgba(151, 151, 151, 0.91) 62.1%, rgba(237, 237, 237, 0.9) 78.3%, rgba(234, 235, 234, 0.9) 86.6%) #f7f8f7;
  background: linear-gradient(190deg, rgba(233, 233, 233, 0.9) 7.7%, rgba(223, 223, 223, 0.89) 32.3%, rgba(218, 218, 218, 0.89) 46.4%, rgba(217, 217, 217, 0.92) 50.4%, rgba(209, 209, 209, 0.92) 51.7%, rgba(151, 151, 151, 0.91) 62.1%, rgba(237, 237, 237, 0.9) 78.3%, rgba(234, 235, 234, 0.9) 86.6%) #f7f8f7;
}

.tabon-grad {
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.42) 43.5%, #ffffff 47.4%, rgba(255, 255, 255, 0.57) 100%) transparent;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.42) 43.5%, #ffffff 47.4%, rgba(255, 255, 255, 0.57) 100%) transparent;
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.42) 43.5%, #ffffff 47.4%, rgba(255, 255, 255, 0.57) 100%) transparent;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.42) 43.5%, #ffffff 47.4%, rgba(255, 255, 255, 0.57) 100%) transparent;
}

.innershadow {
  background-image: -webkit-linear-gradient(top, rgba(76, 88, 123, 0.74) 0%, rgba(5, 18, 78, 0.7) 100%);
  background-image: -moz-linear-gradient(top, rgba(76, 88, 123, 0.74) 0%, rgba(5, 18, 78, 0.7) 100%);
  background-image: -ms-linear-gradient(top, rgba(76, 88, 123, 0.74) 0%, rgba(5, 18, 78, 0.7) 100%);
  background-image: linear-gradient(to bottom, rgba(76, 88, 123, 0.74) 0%, rgba(5, 18, 78, 0.7) 100%);
  -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.89);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.89);
}

/* Team grads (GLASS) */

.elitehometeam,.normalhometeam {  
  text-decoration: none;
  background-color: #c40302;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(top, rgb(150, 16, 16) 0%, #cd4d4d 8.2%, #811414 19.5%, #900505 24.7%, rgb(157, 30, 30) 41.5%, #d51a1a 69.6%, rgb(230, 15, 15) 79.9%, rgb(241, 9, 9) 100%);
  background-image: -moz-linear-gradient(top, rgb(150, 16, 16) 0%, #cd4d4d 8.2%, #811414 19.5%, #900505 24.7%, rgb(157, 30, 30) 41.5%, #d51a1a 69.6%, rgb(230, 15, 15) 79.9%, rgb(241, 9, 9) 100%);
  background-image: -o-linear-gradient(top, rgb(150, 16, 16) 0%, #cd4d4d 8.2%, #811414 19.5%, #900505 24.7%, rgb(157, 30, 30) 41.5%, #d51a1a 69.6%, rgb(230, 15, 15) 79.9%, rgb(241, 9, 9) 100%);
  background-image: linear-gradient(to bottom, rgb(150, 16, 16) 0%, #cd4d4d 8.2%, #811414 19.5%, #900505 24.7%, rgb(157, 30, 30) 41.5%, #d51a1a 69.6%, rgb(230, 15, 15) 79.9%, rgb(241, 9, 9) 100%);
  border: 1px solid #c41901;
  -moz-box-shadow: inset 0 0 10px #8f1111;
  box-shadow: inset 0 0 10px #8f1111;
}

.eliteawayteam,.normalawayteam {
  text-decoration: none;
  background-color: #61b3da;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(top, rgb(15, 108, 148) 0%, #61b3d8 8.2%, #106c95 19.5%, #055f90 24.7%, rgb(15, 116, 148) 41.5%, #1894d5 69.6%, rgb(86, 169, 210) 79.9%, rgb(97, 179, 217) 100%);
  background-image: -moz-linear-gradient(top, rgb(15, 108, 148) 0%, #61b3d8 8.2%, #106c95 19.5%, #055f90 24.7%, rgb(15, 116, 148) 41.5%, #1894d5 69.6%, rgb(86, 169, 210) 79.9%, rgb(97, 179, 217) 100%);
  background-image: -o-linear-gradient(top, rgb(15, 108, 148) 0%, #61b3d8 8.2%, #106c95 19.5%, #055f90 24.7%, rgb(15, 116, 148) 41.5%, #1894d5 69.6%, rgb(86, 169, 210) 79.9%, rgb(97, 179, 217) 100%);
  background-image: linear-gradient(to bottom, rgb(15, 108, 148) 0%, #61b3d8 8.2%, #106c95 19.5%, #055f90 24.7%, rgb(15, 116, 148) 41.5%, #1894d5 69.6%, rgb(86, 169, 210) 79.9%, rgb(97, 179, 217) 100%);
  border: 1px solid #1793d5;
  -moz-box-shadow: inset 0 0 10px #045f8f;
  box-shadow: inset 0 0 10px #045f8f;
}

/* Grads - Flat */

.mainblueskygrad-flat {

}


.darkbluegrad-flat {
    text-decoration: none;
    text-shadow: 0 1px 0 #1c2353;
}

.redgrad-flat {
    text-decoration: none;
  background: -webkit-linear-gradient(top, #8e0407 0%, #d40002 50.2%, #a60509 51.4%, #e9070a 100%) #e40403;
  background: -moz-linear-gradient(top, #8e0407 0%, #d40002 50.2%, #a60509 51.4%, #e9070a 100%) #e40403;
  background: -ms-linear-gradient(top, #8e0407 0%, #d40002 50.2%, #a60509 51.4%, #e9070a 100%) #e40403;
  background: linear-gradient(to bottom, #8e0407 0%, #d40002 50.2%, #a60509 51.4%, #e9070a 100%) #e40403;
  border: 1px solid #8d0407;
}

.blackgrad-flat {
      text-decoration: none;
    background: -webkit-linear-gradient(top, #161616 0%, #464646 50.2%, #151615 51.5%, #454645 100%) #6d6d6d;
    background: -moz-linear-gradient(top, #161616 0%, #464646 50.2%, #151615 51.5%, #454645 100%) #6d6d6d;
    background: -ms-linear-gradient(top, #161616 0%, #464646 50.2%, #151615 51.5%, #454645 100%) #6d6d6d;
    background: linear-gradient(to bottom, #161616 0%, #464646 50.2%, #151615 51.5%, #454645 100%) #6d6d6d;
    border: 1px solid #131313;
}

.whitegrad-flat {
  text-decoration: none;
  background: -webkit-linear-gradient(top, #fbfcfb 0%, #fdfefd 43.3%, #f4f6fa 44.7%, #fdfefd 100%) white;
  background: -moz-linear-gradient(top, #fbfcfb 0%, #fdfefd 43.3%, #f4f6fa 44.7%, #fdfefd 100%) white;
  background: -ms-linear-gradient(top, #fbfcfb 0%, #fdfefd 43.3%, #f4f6fa 44.7%, #fdfefd 100%) white;
  background: linear-gradient(to bottom, #fbfcfb 0%, #fdfefd 43.3%, #f4f6fa 44.7%, #fdfefd 100%) white;
  border: 1px solid #b6bdc3;
}

.greengrad-flat {
  text-decoration: none;
  background: -webkit-linear-gradient(top, #0d9010 0%, #17a93d 49.3%, #009617 51%, #1abe46 100%) white;
    background: -moz-linear-gradient(top, #0d9010 0%, #17a93d 49.3%, #009617 51%, #1abe46 100%) white;
    background: -ms-linear-gradient(top, #0d9010 0%, #17a93d 49.3%, #009617 51%, #1abe46 100%) white;
    background: linear-gradient(to bottom, #0d9010 0%, #17a93d 49.3%, #009617 51%, #1abe46 100%) white;
    border: 1px solid #b6bdc3;
}

/* Select team */

.playerlist {
  width: 100%;
  padding: 0;
}

.playerlist .elitelist .tabs-content .active {
  height: 334px;
}

.playerlist .normallist .tabs-content .active {
  height: 390px;
}

.playercontainer {
     border-radius: 4px;
    border: 1px solid #e2e3e6;
    position: relative;
    height: 100px;
  overflow: hidden;
}

.teamselect .playercontainer,
.teamselect .playercontainer .button {
  border-style: none;
  cursor: pointer;
  clear: both;
}

.playercontainer.populated {
  overflow: visible;
  height: auto;
  clear: both;
  float: left;
  padding-bottom: 20px;
  width: 100%;
}

.playercontainer.populated img.eliteplayer_img {
  margin: 0 0 0 -20px;
  width: 45%;
}

.playercontainer.populated img.normalplayer_img {
  margin-bottom: 0;
  margin-left: 5px;
}

.playercontainer.populated h3.playername {
  color: #fff;
  font-size: 1.6em;
  height: 40px;
  line-height: 40px;
  margin-top: 8px;
  margin-bottom: -2px;
}

.playercontainer.populated h3.playerposition {
  color: #fff;
  margin-top: -6px;
}

.playercontainer.populated ul.playercard_stats {
  width: 63%;
  margin-top: 6px;
  border-radius: 4px;
  overflow: hidden;
}

.playercontainer.populated a.button {
  top: 10px !important;
  position: absolute;
}

.playercontainer.populated ul.playercard_stats li {
  width: 100%;
  float: left;
  height: 40px;
  line-height: 40px;
}

.playercontainer.populated ul.playercard_stats li span {
  height: 40px;
}

i.fa.fa-plus.addplayerbuttonmain {
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 2em;
  line-height: 40px;
  position: absolute;
  z-index: 10;
  text-align: center;
  left: 30px;
  bottom: 27px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.85);
}

.playerlist .elitelist .playercontainer {
  height: 155px !important;
  border: 1px solid #c0c0c0;
}

.playerlist .normallist .playercontainer {
  height: 90px !important;
  border: 1px solid #a0a1a0;
}

.playerlist .normallist .playercontainer h3.playername,
.playerlist .normallist .playercontainer h3.playerposition {
    width: 85%;
    float: left;
    margin-left: 61px;
}

.playerlist .normallist .playercontainer .playercard_stats {
    float: left;
    margin-left: 20px;
    text-align: left;
    margin-top: 4px;
    width: 150px;
}

.playerlist .normallist .playercontainer .playercard_stats li {
    text-align: left;
    width: 155px;
    float: left;
}

.playerlist .normallist .playercontainer .playercard_stats li span {
    margin-left: 0;
}

.playerlist .elitelist .playercontainer .button,
.playerlist .normallist .playercontainer .button,
.populated.playercontainer a.button {
  display: block;
  position: relative;
  top: 8px;
  right: 10px;
  margin-bottom: 0;
  height: 30px;
  line-height: 30px;
  padding: 0;
  font-size: 0.8em;
  width: 80px;
  float: right;
  clear: both;
  background: #0d9010 !important;
  text-shadow: none !important;
  border-radius: 0px !important;
}

.playerlist .normallist .playercontainer .button {
    margin-top: -39px;
}

.teamselect .playercontainer .button {
  top: 37%;
  margin-bottom: 0;
  right: 0;
  padding: 0;
  width: 100%;
  font: 1.4em/120% SkyMedium;
  float: left;
  position: absolute;
  z-index: 10;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.85);
}

.teamselect .playercontainer .button:hover {
  background-color: transparent;
}

.playerlist .playercontainer .button {
  float: right;
    top: 37%;
  margin-bottom: 0;
  right: 10%;
  padding: 0;
  width: 0;
  font: 1.4em/120% SkyMedium;
}

.addplayerbutton {
  position: absolute;
  left: 10px;
  color: #fff;
  height: 40px;
  width: 40px !important;
  line-height: 40px;
  text-align: center;
  margin-left: 0;
  padding: 0;
border-radius: 4px;
  top: 10px;
  z-index: 1;
  font-size: 1.6em;
}

.playerlist li.tab-title {
  width: 50%;
  border-style:  none !important;
}

.playerlist li.tab-title a {
  height: 60px;
  padding: 0;
  font-size: 1.2em;
  color: black;
  text-align: center;
  font-family: SkyRegular, arial, sans-serif;
  background-color: transparent !important;
  border-style: none !important;
}

.playerlist li.tab-title a span {
  font-size: 1em;
  width: 100%;
  float: none;
  display: block;
  color: #fff;
  line-height: 60px;
  height: 60px;
  border-style: none !important;
    background-color: transparent;
}

.playerlist li.tab-title.active a span {
  color: #fff;
  border: 1px solid #fefffe !important;
}

#panel1a ul.tabs li.tab-title.eliteawayteam div.blackgrad-flat,
#panel1a ul.tabs li.tab-title.elitehometeam div.blackgrad-flat,
#panel2a ul.tabs li.tab-title.normalawayteam div.blackgrad-flat,
#panel2a ul.tabs li.tab-title.normalhometeam div.blackgrad-flat {
    background: rgba(255, 255, 255, 0.56) !important; 
}

#panel1a ul.tabs li.tab-title.eliteawayteam.active div.blackgrad-flat,
#panel1a ul.tabs li.tab-title.elitehometeam.active div.blackgrad-flat,
#panel2a ul.tabs li.tab-title.normalawayteam.active div.blackgrad-flat,
#panel2a ul.tabs li.tab-title.normalhometeam.active div.blackgrad-flat {
    background: rgba(255, 255, 255, 0) !important;
    
}

#panel1a ul.tabs li.tab-title.eliteawayteam div.blackgrad-flat div.awaybadgecontainer img,
#panel1a ul.tabs li.tab-title.elitehometeam div.blackgrad-flat div.homebadgecontainer img,
#panel2a ul.tabs li.tab-title.normalawayteam div.blackgrad-flat div.awaybadgecontainer img,
#panel2a ul.tabs li.tab-title.normalhometeam div.blackgrad-flat div.homebadgecontainer img {
    opacity: 0.2;
}

#panel1a ul.tabs li.tab-title.eliteawayteam.active div.blackgrad-flat div.awaybadgecontainer img,
#panel1a ul.tabs li.tab-title.elitehometeam.active div.blackgrad-flat div.homebadgecontainer img,
#panel2a ul.tabs li.tab-title.normalawayteam.active div.blackgrad-flat div.awaybadgecontainer img,
#panel2a ul.tabs li.tab-title.normalhometeam.active div.blackgrad-flat div.homebadgecontainer img {
    opacity: 1;
}

.playerlist li.tab-title.active a,
.playerlist li.tab-title.active a span {
  background: transparent !important;
  color: #fff !important;
  border-style: none !important;
  
}

.playerlist li.tab-title a .homebadgecontainer,
.playerlist li.tab-title a .awaybadgecontainer {
  width: 50px;
  height: 50px;
  margin: 5px;
  display: inline-block;
}

.playercontainer img.placeholder {
    border-radius: 4px;
  width: 80px;
    height: 80px;
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.85);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.85);
  background-color: #bfc0bf;
  margin-top: 0.6em;
  margin-left: 0.6em;
  display: block;
  float: left;
  position: relative;
}

.playerlist ul {
  border-radius: 6px;
  overflow: hidden;
  margin: 0 -2px 0 0;
  width: 100%;
}

img.eliteplayer_img {
  width: 150px;
  margin: 5px -30px -21px -10px;
  display: block;
  float: left;
  z-index: 10;
  position: absolute;
  bottom: 0;
}

img.normalplayer_img {
  width: 150px;
  height: 150px;
  margin-bottom: -30px;
  margin-left: 10px;
  display: block;
  float: left;
  z-index: 10;
  position: absolute;
  bottom: 0;
}

h3.playername {
  float: right;
  width: 73%;
  margin: 0;
  font: 1.4em/32px SkyMedium;
  height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

h3.playerposition {
  font-size: 1em;
  float: right;
  width: 73%;
  margin: 0;
}

ul.playercard_stats {
  list-style: none;
  color: #fff;
  font-size: 1em;
  width: 70%;
  margin: 0 10px 0 0;
  border-radius: 4px;
    float: right;
}

ul.playercard_stats li {
  height: 30px;
  line-height: 30px;
  text-indent: 10px;
  padding: 0 !important;
  margin-bottom: 1px;
    float: right;
    display: block;
    text-align: right;
    width: 100%;
}

ul.playercard_stats li span {
  display: inline;
  width: 40px;
  float: right;
  height: 30px;
  margin-top: -2px;
    margin-right: 10px;
    text-align: center;
  text-indent: 0;
  color: #212221;
    margin-left: 10px;
}

/* Game clock */

.gameclock {
    font: .8em SkyMedium;
    color: #081163;
    width: 195px;
    margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
    padding-top: 0;
}

.gameclock p {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    line-height: normal;
    font-size: 1.2em;
    color: #033163;
}

.days,
.hours,
.minutes {
    float: left;
    margin-right: 5px;
}

.days span,
.hours span,
.minutes span {
    color: #fff;
    float: left;
    border-top: 1px solid #77787d;
    background-image: -webkit-linear-gradient(top, #11111c 2.3%, #454b57 9.4%, #08090d 63.8%);
    background-image: -moz-linear-gradient(top, #11111c 2.3%, #454b57 9.4%, #08090d 63.8%);
    background-image: -ms-linear-gradient(top, #11111c 2.3%, #454b57 9.4%, #08090d 63.8%);
    background-image: linear-gradient(to bottom, #11111c 2.3%, #454b57 9.4%, #08090d 63.8%);
    height: 35px;
    width: 30px;
    text-align: center;
    border-right: 1px solid #77787d;
    font: 2.2em SkyRegular;
    line-height: 35px;
}



/* featured fixture */

.featured-fixture,
.internal-fixture  {
    margin-right: auto;
    margin-left: auto;
    min-width: 320px;
    width: 60%;
    background: url('../images/hero_trophy.png') center top no-repeat;
    background-size: 30%;
  padding-bottom: 1.5em;
}

.homebadgecontainer {
    float: left;
    width: 40%;
    max-width: 200px;
    margin-bottom: 10px;
}

.awaybadgecontainer {
    float: right;
    width: 40%;
    max-width: 200px;
    margin-bottom: 10px;
}

.internal-fixture {
    background: none!important;
}

.internal-fixture .awaybadgecontainer,
.internal-fixture .homebadgecontainer {
    display: none;
}

.fixtureteaminfo {
    display: block;
    font: 1.4em/30px SkyRegular;
    clear: both;
    width: 80%;
    min-width: 300px;
  margin: 10px auto 5px;
  border-radius: 4px;   
    color: #fff;
    height: 40px;
    overflow: hidden;
  border-width: 4px;
  float: none;
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

span.hometeam {
    display: inline;
    float: left;
    height: 40px;
    line-height: 40px;
    width: 45%;
    text-align: right;
  text-align: center;
    padding-right: 0;
    padding-left: 0;
}

span.awayteam {
    display: inline;
    width: 45%;
    text-align: left;
  text-align: center;
    float: right;
    line-height: 40px;
  height: 40px;
}

span.fixtureseperator {
  width: 10%;
  min-width: 30px;
  display: block;
  height: 40px;
  float: left;
  text-align: center;
  font: 1.2em SkyMedium;
  line-height: 40px;
}

div.fixturedate {
  text-align: center;
  font: 1.2em/normal SkyRegular;
  color: #033163;
  margin-bottom: 0;
}

.powerplaysingle {
    padding: 0;
    margin: 10px 0;
}

.submmissionzone a.button {
    border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  float: none;
  height: 60px;
  line-height: 60px;
  margin-top: 30px;
  border-style: none;
}

span.button.offcanvas-nav {
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    float: none;
    height: 60px;
    line-height: 60px;
    border-style: none;
}

.show-more {
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  float: none;
  height: 40px;
  line-height: 40px;
  border-style: none;
  color: #212221;
  width: 75%;
  font-size: 1em;
}

.show-more:hover {
  color: #212221;
}



/* betting */

table.priceboost {
    width: 100%;
    border-style: none;
    table-layout: ;
    margin-top: 1em;
  background-color: #f1f2f1;
}

tr.priceboostheader {
    background-color: #fee500;
}

tr.priceboostheader td {
    border-style: none;
    font: normal normal 24px SkyBold;
    color: #203a67;
}

table.priceboost tr td {
    color: #203a67;
}

table.priceboost tr:nth-of-type(even) {
  background-color: #e8e8e8;
}

table.priceboost td.col2,
tr.priceboostheader td.col2 {
    text-align: center;
  text-decoration: line-through;
}

table.priceboost td.col3,
tr.priceboostheader td.col3 {
    color: #cd1a0a;
    text-align: center;
}

table.priceboost tr td span.strikeout_bet {
    text-decoration: line-through;
    
}

table th { font-weight: bold; }
table td, table th { padding: 9px 10px; text-align: left; }

    /* Mobile */
    @media only screen and (max-width: 767px) {
    	
    	table.responsive { margin-bottom: 0; border-collapse: collapse; }
    	
    	.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 35%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #c8c8c8; border-left: 1px solid #c8c8c8; }
    	.pinned table { border-right: none; border-left: none; width: 100%; }
    	.pinned table th, .pinned table td { white-space: nowrap; }
    	.pinned td:last-child { border-bottom: 0; }
    	
    	div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #c8c8c8; }
    	div.table-wrapper div.scrollable { margin-left: 35%; }
    	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
    	
    	table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
    	table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }	
    	
    }

.playerprofile {
}

.playerprofile h1 {
  margin: 0;
  text-align: center;
  font-size: 1.4em;
  line-height: 45px;
}

.playerprofilebadge img {
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  display: block;
  margin-top: 19%;
}

.playerprofilebadge h3.playerposition {
  width: 100%;
  text-align: center;
}

.playerprofileimg img {
  width: 80%;
}

.playerprofilestatsmain ul.playercard_stats {
  width: 100%;
  margin: 0;
  padding: 0;
}


.playerprofilestatsmain ul.playercard_stats li {
  text-align: left;
  text-indent: 5%;
}

table.playerstatstable {
  border: none;
  border-collapse:  collapse;
  width: 100%;
  background: #f1f2f1;
  margin-bottom: 0;
}

table.playerstatstable tr th {
  color: #fff;
  border-top: 1px solid #77787d;
  background-image: -webkit-linear-gradient(top, #11111c 2.3%, #454b57 9.4%, #08090d 63.8%);
  background-image: -moz-linear-gradient(top, #11111c 2.3%, #454b57 9.4%, #08090d 63.8%);
  background-image: -ms-linear-gradient(top, #11111c 2.3%, #454b57 9.4%, #08090d 63.8%);
  background-image: linear-gradient(to bottom, #11111c 2.3%, #454b57 9.4%, #08090d 63.8%);
  height: 35px;
  border: none !important; 
}

table.playerstatstable tr th:last-child {
  text-align: center;
}

table.playerstatstable tr th.greyglass {
  background-image: -webkit-linear-gradient(top, #f7f8f7 7.7%, #cacaca 16.1%, #b2b2b2 19.8%, #b1b2b1 35.7%, #edefee 74.5%, #fafdfb 86.6%);
  background-image: -moz-linear-gradient(top, #f7f8f7 7.7%, #cacaca 16.1%, #b2b2b2 19.8%, #b1b2b1 35.7%, #edefee 74.5%, #fafdfb 86.6%);
  background-image: -ms-linear-gradient(top, #f7f8f7 7.7%, #cacaca 16.1%, #b2b2b2 19.8%, #b1b2b1 35.7%, #edefee 74.5%, #fafdfb 86.6%);
  background-image: linear-gradient(to bottom, #f7f8f7 7.7%, #cacaca 16.1%, #b2b2b2 19.8%, #b1b2b1 35.7%, #edefee 74.5%, #fafdfb 86.6%);
  color: #0e1e5b;
}

table.playerstatstable tr:nth-of-type(even) {
  background: #e8e8e8;
}

table.playerstatstable tr td {
  border-bottom: 1px solid #c8c8c8;
}

table.playerstatstable tr td:last-child {
  text-align: center;
  font-family: SkyMedium;
}

.leaderboard li.tab-title a {
  text-align: center;
  color: #fff !important;
  font: 1.2em SkyMedium !important;
  font-style: normal !important;
  font-variant: normal !important;
  background-color: transparent;
}

.leaderboard li.tab-title.active a {
  background: transparent !important;
  color: #333 !important;
  border: none !important;
} 

.leaderboard li.tab-title.active {
  text-decoration: none;
  background: -webkit-linear-gradient(top, #fbfcfb 0%, #fdfefd 43.3%, #f4f6fa 44.7%, #fdfefd 100%) white;
  background: -moz-linear-gradient(top, #fbfcfb 0%, #fdfefd 43.3%, #f4f6fa 44.7%, #fdfefd 100%) white;
  background: -ms-linear-gradient(top, #fbfcfb 0%, #fdfefd 43.3%, #f4f6fa 44.7%, #fdfefd 100%) white;
  background: linear-gradient(to bottom, #fbfcfb 0%, #fdfefd 43.3%, #f4f6fa 44.7%, #fdfefd 100%) white;
  border: none;
}

/* footer */

.footer {
    background-color: #292c2f;
    text-align: center;
    font-size: 1.2rem;
    padding: 4rem;
    margin-top: 2rem;
  clear: both;
}


.footer p.slogan {
    color: #8d9093;
    font-size: 1.8rem;
    margin: 0 0 1rem;
}

.footer p.copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0;
}

.footer .links a {
    list-style: none;
    color: #ffffff;
    padding: 3rem 0 2rem;
    margin: 0; 
}

.footer .links a::after {
    content: "•";
    padding: 0 0.4rem 0 0.8rem; 
}
  
.footer .links a:last-child::after {
    content: "";
    padding: 0 0.4rem 0 0.8rem; 
}


/* desktop sizing */

@media (min-width: 640px) {

  .contentcontainer {
    padding: 1em;
  }

  .playerlist {
    padding-right: 0;
  }
  
  .teamselect {
    padding-left: 0;
  }
  
  .offcanvas-sidebar {
    display: block !important;
    margin: 0 !important;
  }
  
  .pundit-widget {
      margin-bottom: 0;
      height: 160px;
  }

img.punditimage {
    width: 50%;
    margin-right: -40px;
    margin-bottom: 0;
    bottom: 0;
    position: absolute;
}

i.fa.fa-check-circle-o.checkedstep1 {
    position: absolute;
    font-size: 40px;
    right: 0;
    background: -webkit-linear-gradient(top, #7887a3 0%, #53617a 100%) #7888a3;
    background: -moz-linear-gradient(top, #7887a3 0%, #53617a 100%) #7888a3;
    background: -ms-linear-gradient(top, #7887a3 0%, #53617a 100%) #7888a3;
    background: linear-gradient(to bottom, #7887a3 0%, #53617a 100%) #7888a3;
    -moz-box-shadow: inset 0 0 5px #2e3643;
    box-shadow: inset 0 0 5px #2e3643;
    padding: 5px;
    border-radius: 40px !important;
    width: 51px;
    height: 50px;
    line-height: normal;
    text-align: center;
      top: 0;
  }
  
  .switch-sky6 label {
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
    font-family: SkyMedium;
    color: #fff;
    text-shadow: -1px -1px 0 #3e475c;
    line-height: 70px !important;
  }  
  
  .teamconfirmed {
    min-height: 900px;
  }
  
  .playerprofilebadge img {
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    display: block;
    margin-top: 10%;
  }
  
  .playerprofilebadge h3.playerposition {
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }
  
  .playerprofileimg img {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  
  .playerprofilestatsmain ul.playercard_stats {
    margin-top: 12%;
    width: 80%;
    float: left;
    border-radius: 4px;
    overflow: hidden;
  }

style {
  
}

.playerprofilestatsmain ul.playercard_stats li {
    text-align: left;
    text-indent: 5%;
    line-height: 40px;
    height: 40px;
  }
  
  ul.playercard_stats li span {
    height: 40px;
  }
  
}


@media (min-width: 1000px) {
    body {
        font-family: SkyRegular, arial, sans-serif;
        background: url('../images/background.jpg') left top no-repeat #fff;
    }
    
    .homebadgecontainer,
    .awaybadgecontainer {
        margin-top: -20px;
      margin-bottom: 20px;
    }
    
    img.punditimage {
        width: 40%;
        margin-right: -50px;
        margin-bottom: -10px;
    }
}

@media (min-width: 1025px) {
    img.punditimage {
        width: 90%;
        margin-right: -50px;
        margin-bottom: -10px;
    }
}

/* Powerplayzone */


.switch-toggle a, .switch-light span span {
  display: none; }


@media only screen {

  .switch-light {
    display: block;
    min-height: 1.875em;

    position: relative;
    overflow: visible;
    padding: 0;
    margin-left: 6.25em;
   }
    .switch-light * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .switch-light a {
      display: block;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
    .switch-light label, .switch-light > span {
      line-height: 1.875em;
      vertical-align: middle; }
    .switch-light input:focus ~ a, .switch-light input:focus + label {
      outline: 1px dotted #888; }
    .switch-light label {
      position: relative;
      z-index: 3;
      display: block;
      width: 100%; }
    .switch-light input {
      position: absolute;
      opacity: 0;
      z-index: 5; }
      .switch-light input:checked ~ a {
        right: 0%; }
    .switch-light > span {
      position: absolute;
      left: -6.25em;
      width: 100%;
      margin: 0;
      padding-right: 6.25em;
      text-align: left; }
      .switch-light > span span {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        display: block;
        width: 50%;
        margin-left: 6.25em;
        text-align: center; }
        .switch-light > span span:last-child {
          left: 50%; }
    .switch-light a {
      position: absolute;
      right: 50%;
      top: 0;
      z-index: 4;
      display: block;
      width: 50%;
      height: 100%;
      padding: 0; }


  .switch-toggle {
    display: block;
    min-height: 1.875em;
    position: relative;
    display: table;
    table-layout: fixed;
    padding: 0 !important;
 }
    .switch-toggle * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .switch-toggle a {
      display: block;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
    .switch-toggle label, .switch-toggle > span {
      line-height: 1.875em;
      vertical-align: middle; }
    .switch-toggle input:focus ~ a, .switch-toggle input:focus + label {
      outline: 1px dotted #888; }
    .switch-toggle * {
      font-size: 1em; }
    .switch-toggle input {
      position: absolute;
      opacity: 0; }
    .switch-toggle input + label {
      position: relative;
      z-index: 2;
      display: table-cell;
      width: 50%;
      padding: 0 0.5em;
      margin: 0;
      text-align: center; }
    .switch-toggle a {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      z-index: 1;
      width: 50%;
      height: 100%; }
    .switch-toggle input:last-of-type:checked ~ a {
      left: 50%; }
    .switch-toggle.switch-3 label, .switch-toggle.switch-3 a {
      width: 33.3333333333%; }
    .switch-toggle.switch-3 input:checked:nth-of-type(2) ~ a {
      left: 33.3333333333%; }
    .switch-toggle.switch-3 input:checked:last-of-type ~ a {
      left: 66.6666666667%; }
    .switch-toggle.switch-4 label, .switch-toggle.switch-4 a {
      width: 25%; }
    .switch-toggle.switch-4 input:checked:nth-of-type(2) ~ a {
      left: 25%; }
    .switch-toggle.switch-4 input:checked:nth-of-type(3) ~ a {
      left: 50%; }
    .switch-toggle.switch-4 input:checked:last-of-type ~ a {
      left: 75%; }
    .switch-toggle.switch-5 label, .switch-toggle.switch-5 a {
      width: 20%; }
    .switch-toggle.switch-5 input:checked:nth-of-type(2) ~ a {
      left: 20%; }
    .switch-toggle.switch-5 input:checked:nth-of-type(3) ~ a {
      left: 40%; }
    .switch-toggle.switch-5 input:checked:nth-of-type(4) ~ a {
      left: 60%; }
    .switch-toggle.switch-5 input:checked:last-of-type ~ a {
      left: 80%; }
      .switch-toggle.switch-6 label, .switch-toggle.switch-6 a {
        width: 16.6%; }
      .switch-toggle.switch-6 input:checked:nth-of-type(2) ~ a {
        left: 16.6%; }
      .switch-toggle.switch-6 input:checked:nth-of-type(3) ~ a {
        left: 33.3%; }
      .switch-toggle.switch-6 input:checked:nth-of-type(4) ~ a {
        left: 49.6%; }
        .switch-toggle.switch-6 input:checked:nth-of-type(5) ~ a {
          left: 66.6%; }
      .switch-toggle.switch-6 input:checked:last-of-type ~ a {
        left: 83.3%; }

  /* Theme */
  .switch-sky6 {
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #191b1e;
    height: 60px;
    line-height: 60px;
    margin-top: 10px;
  }
    .switch-sky6 label {
      -webkit-transition: color 0.2s ease-out;
      -moz-transition: color 0.2s ease-out;
      transition: color 0.2s ease-out;
      font: 10px/40px SkyMedium;
      color: #fff;
      text-shadow: -1px -1px 0 #3e475c;
      padding-right: 2px !important;
      padding-left: 2px !important;
      height: 80px;
    }
    
    .switch-sky6 label span {
      display: block;
      clear: both;
      font-size: 20px;
      margin: 10px auto -10px;
      width: 45px;
      height: 45px;
      line-height: 45px;
      border-radius: 45px;
    }
    .switch-sky6 input:checked + label,
    .switch-sky6 input:checked + label span {
      color: #fff;
      background: transparent !important;
      box-shadow: none;
      -moz-box-shadow: none;
    }
    .switch-sky6 a {
      text-decoration: none;
      text-shadow: 0 1px 0 #1c2353;
      background-color: #1c3267;
      background-clip: padding-box;
      background-image: -webkit-linear-gradient(top, rgb(5, 19, 83) 0%, #646c87 8.2%, #1e285d 19.5%, #020e4c 24.7%, rgb(20, 33, 89) 41.5%, #0f2582 69.6%, rgb(18, 39, 143) 79.9%, rgb(20, 42, 153) 100%);
      background-image: -moz-linear-gradient(top, rgb(5, 19, 83) 0%, #646c87 8.2%, #1e285d 19.5%, #020e4c 24.7%, rgb(20, 33, 89) 41.5%, #0f2582 69.6%, rgb(18, 39, 143) 79.9%, rgb(20, 42, 153) 100%);
      background-image: -o-linear-gradient(top, rgb(5, 19, 83) 0%, #646c87 8.2%, #1e285d 19.5%, #020e4c 24.7%, rgb(20, 33, 89) 41.5%, #0f2582 69.6%, rgb(18, 39, 143) 79.9%, rgb(20, 42, 153) 100%);
      background-image: linear-gradient(to bottom, rgb(5, 19, 83) 0%, #646c87 8.2%, #1e285d 19.5%, #020e4c 24.7%, rgb(20, 33, 89) 41.5%, #0f2582 69.6%, rgb(18, 39, 143) 79.9%, rgb(20, 42, 153) 100%);
      border: 2px solid #033264;
      -moz-box-shadow: 0 0 20px #dbe2f9;
      box-shadow: 0 0 20px #dbe2f9;
      border-radius: 4px;
      color: #fff !important;
    }
    .switch-sky6 > span {
      color: #fff;
      text-shadow: none; }
    .switch-sky6 span {
      color: #fff; }


@media only screen and (-webkit-max-device-pixel-ratio: 2) and (max-device-width: 80em) {
  .switch-light, .switch-toggle {
    -webkit-animation: webkitSiblingBugfix infinite 1s; } }

@-webkit-keyframes webkitSiblingBugfix {
  from {
    -webkit-transform: translate3d(0, 0, 0); }

  to {
    -webkit-transform: translate3d(0, 0, 0); } }

