<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sky Sports</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta name="description" content="">
    <meta name="keywords" content="Sky Sports">
    <meta name="author" content="Sky">
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="Sky Sports">
     
    <!-- Font Files -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">  
      
    <!-- CSS -->  
    <link rel="stylesheet" href="css/foundation.css"/>
    <link rel="stylesheet" href="css/style.css"/>  
<!--    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
		<script src="scripts/vendor/jquery-1.10.2.min.js"></script>
		<script src="scripts/foundation.min.js"></script>
    
</head>
<body class="teamselect">
    <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
    
    <!-- menu system -->
    		<div id="menu" class="menu cf"></div> 
    <!-- end menu system -->
        <div id="maincontainer" class="maincontainer"></div>

    <footer></footer>
        
        <a class="exit-off-canvas"></a>
    </div>
    </div>
      
      <script type="text/template" id="tpl-menu">
      	<div class="row show-for-large-up">
        	add logos here
        </div>
        <div class="contain-to-grid sticky">
            <nav class="tab-bar mainblueskygrad">
              <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
              </section>
        
              <section class="middle tab-bar-section">
                <h1 class="title">SkySports</h1>
              </section>
            </nav>
        </div>
     
        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><a href="#">Home</a></li>
                <li><a href="#play">Play</a></li>
                <li><a href="#punditpicks">Pundit Picks</a></li>
                <li><a href="#leagues">Leagues</a></li>
                <li><a href="#leaderboard">Leaderboard</a></li>
                <li><a href="#stats">Stats</a></li>
                <li><a href="#fixtures">Fixtures &amp; Results</a></li>
                <li><a href="#winners">Winners</a></li>
            </ul>
        </aside>  
        
        <section class="header-home row collapse">
            
                    <!--<div class="gameclock" data-subview="matchClockView"> -->
                    <div class="gameclock">
                      <p>Game kicks off in:</p>
                      <div class="row">
                          <div class="days">
                              <span id="lDay"></span>
                              <span id="rDay"></span>
                              <p>Days</p>
                          </div>
                          <div class="days">
                              <span id="lHr"></span>
                              <span id="rHr"></span>
                              <p>Hours</p>
                          </div>
                          <div class="days">
                              <span id="lMin"></span>
                              <span id="rMin"></span>
                              <p>Min</p>
                          </div>
                      </div>
                    </div>
    
                    <div class="featured-fixture small-12">
                        <div style="display:block" class="homebadgecontainer">
                            <img src="images/<%= HOMEACRO %>.png" alt=<%= HOME %> />
                        </div>
                        <div style="display:block" class="awaybadgecontainer">
                            <img src="images/<%= AWAYACRO %>.png" alt=<%= AWAY %> />
                        </div>
                        <div class="fixtureteaminfo ">
                            <span class="hometeam darkblueglass"><%= HOMESHORT %></span>
                            <span class="fixtureseperator greyglass">V</span>
                            <span class="awayteam darkblueglass"><%= AWAYSHORT %></span>
                        </div>
                        <div class="fixturedate">
                           <!-- Sunday 12th April 2015 -->
                           <%= DATE %>
                           
                        </div>
                    </div>
    
                    <div style="display:none" class="small-12 maincall">
                        <h1>Pick Your Team To Win Cash Prizes</h1>
                        <a href="teamselect.html" class="button radius redgrad-flat">Play now</a>
                    </div>
              
            </section>
            
        </script>
        
        <script type="text/template" id="tpl-myteam">

        	<section class="row contentcontainer main-section">
            <div class="offcanvas-push-right">
            
                        <div class="offcanvas-overlay"></div>
                <div class="teamselect small-12 medium-7 columns">
                <h3 class="titlebar marginbottom">Step 1: Pick Your Elite Player</h3>
                    <div class="playercontainer marginbottom blackgrad-flat offcanvas-nav eliteplayer">     
                        <img src="images/blank_player.png" class="placeholder" alt="player-placeholder" />
                        <span class="button radius">Add Player</span>
                    </div>
                <h3 class="titlebar marginbottom">Step 2: Select Your Team Players</h3>
                	<div id='normalplayercontainer'>
                    <div class="playercontainer marginbottom blackgrad-flat no-action">
                        <img src="images/blank_player.png" class="placeholder" alt="player-placeholder" />
                        <span class="button radius no-action">Add Player</span>
                    </div>
                    <div class="playercontainer marginbottom blackgrad-flat offcanvas-nav no-action">
                        
                        <img src="images/blank_player.png" class="placeholder" alt="player-placeholder" />
                        <span class="button radius no-action">Add Player</span>
                    </div>
                    <div class="playercontainer marginbottom blackgrad-flat offcanvas-nav no-action">
                        
                        <img src="images/blank_player.png" class="placeholder" alt="player-placeholder" />
                        <span class="button radius no-action">Add Player</span>
                    </div>
                    <div class="playercontainer marginbottom blackgrad-flat offcanvas-nav no-action">
                        
                        <img src="images/blank_player.png" class="placeholder" alt="player-placeholder" />
                        <span class="button radius no-action">Add Player</span>
                    </div>
                    <div class="playercontainer marginbottom blackgrad-flat offcanvas-nav no-action">
                        
                        <img src="images/blank_player.png" class="placeholder" alt="player-placeholder" />
                        <span class="button radius no-action">Add Player</span>
                    </div>
                	</div>
                
                </div>
                
                <div class="powerplay small-12 medium-7 columns marginbottom">
                      <h3 class="titlebar marginbottom">Step 3: Pick Your Power Play</h3>
                      <p>Your team will score double points during your selected Power Play period.</p>        
                        <div class="switch-toggle switch-6 switch-sky6 innershadow">
                          <input id="first15" name="view6" type="radio">
                          <label for="first15" onclick=""><span class="innershadow">1</span>0-15min</label>
                
                          <input id="second15" name="view6" type="radio">
                          <label for="second15" onclick=""><span class="innershadow">2</span>16-30min</label>
                
                          <input id="third15" name="view6" type="radio">
                          <label for="third15" onclick=""><span class="innershadow">3</span>31-45min</label>
                          
                          <input id="fourth15" name="view6" type="radio">
                          <label for="fourth15" onclick=""><span class="innershadow">4</span>46-60min</label>
                
                          <input id="fifth15" name="view6" type="radio">
                          <label for="fifth15" onclick=""><span class="innershadow">5</span>61-75min</label>
                          
                          <input id="last15" name="view6" type="radio">
                          <label for="last15" onclick=""><span class="innershadow">6</span>76-90min</label>
                          
                          <a class="button"></a>        
                        </div>
                    </div>
                           
                   <div class="submmissionzone small-12 medium-7 columns">
                    
                        <a href="" id="saveTeam" onclick="event.preventDefault();" class="button radius greengrad-flat small-12 no-action">Confirm team</a>
                   
                   </div>
                               
                                               
                
                <section class="offcanvas-sidebar small-10 medium-5" style="top:0px;right:0px;position:absolute">
                <div class="playerlist columns">
                <ul class="accordion" data-accordion>
                  <li class="accordion-navigation elitelist">
                    <a href="#" onclick="event.preventDefault();" class="elitepanel whitegrad-flat">Elite Players</a>
                    <div id="panel1a" class="content active">
                    <ul class="tabs" data-tab role="tablist">
                      <li class="tab-title active <%= HOMEACRO %> elitehometeam" role="presentation"><a href="" onclick="event.preventDefault();" role="tab" tabindex="0" aria-selected="true" aria-controls="panel2-1" class="blackgrad-flat" >
                              <div class="homebadgecontainer">
                              <img src="images/<%= HOMEACRO %>.png" alt="Man Utd" />
                              </div>
                              <span><%= HOMESHORT %></span>
                          </a></li>
                      <li class="tab-title <%= AWAYACRO %> eliteawayteam" role="presentation"><a href="" onclick="event.preventDefault();" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-2" class="blackgrad-flat">
                              <div class="awaybadgecontainer">               
                              <img src="images/<%= AWAYACRO %>.png" alt="Man City" />
                              </div>
                               <span><%= AWAYSHORT %></span>
                      </a></li>
                    </ul>
                    <div class="tabs-content">
                      <section role="tabpanel" aria-hidden="false" class="content active" id="panel1-1">  
                     </section>
                    <section role="tabpanel" aria-hidden="true" class="content" id="panel1-2">
                    </section>
                    </div>
                    </div>
                  </li>
                  
                  <li class="accordion-navigation normallist">
                    <a href="" onclick="event.preventDefault();" class="normalpanel whitegrad-flat">Team Players</a>
                    <div id="panel2a" style="height:975px" class="content">
                      <ul class="tabs" data-tab role="tablist">
                        <li class="tab-title active <%= HOMEACRO %> normalhometeam" role="presentation"><a href="" onclick="event.preventDefault();" role="tab" tabindex="0" aria-selected="true" aria-controls="panel2-1" class="blackgrad-flat" >
                                <div class="homebadgecontainer">
                                <img src="images/<%= HOMEACRO %>.png" alt="<%= HOMEACRO %>" />
                                </div>
                                <span><%= HOMESHORT %></span>
                            </a></li>
                        <li class="tab-title <%= AWAYACRO %> normalawayteam" role="presentation"><a href="" onclick="event.preventDefault();" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-2" class="blackgrad-flat">
                                <div class="awaybadgecontainer">               
                                <img src="images/<%= AWAYACRO %>.png" alt="<%= AWAYACRO %>" />
                                </div>
                                 <span><%= AWAYSHORT %></span>
                        </a></li>
                      </ul>
                      
                      <div class="tabs-content">
                        <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
                              
                        </section>
                        <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
                        
                            
                        </section>
                        </section>
                      </div>
                    </div>
                  </li>
                </ul>
                </div>
                </section>
                
            </section>

        </script>
        <script type="text/template" id="tpl-home">
        	<h3 class="headerbar">Latest Promotion</h3>
            <section class="promotional-zone">
            <img src="images/1024x80.jpg" class="promo-banner hide-for-small" />
            <img src="images/578x80_FF_Full.jpg" class="promo-banner show-for-small-only" />
             </section>
            
            <h3 class="headerbar">Pundit's Elite Picks</h3>
            <section class="pundit-zone padded large-12 columns contentcontainer">
   
               <div class="row">
                   <div class="large-3 medium-6 small-12 columns">
                       <div class="pundit-widget">
                           <h3>Neville's<br>Elite Pick</h3>
                           <img class="punditimage" src="images/pundits/neville.png" />
                           <div class="punditelite-pick greyglass-angle">Sergio Aguero<img class="teambadge" src="images/MCY.png" alt="Man City" /></div>
                       </div>
                   </div>
                   <div class="large-3 medium-6 small-12 columns">
                       <div class="pundit-widget">
                           <h3>Henry's<br> Elite Pick</h3>
                           <img class="punditimage" src="images/pundits/henry.png" />
                           <div class="punditelite-pick greyglass-angle">David Silva<img class="teambadge" src="images/MCY.png" alt="Man City" /></div>
                       </div>
                   </div>
                   <div class="large-3 medium-6 small-12 columns">
                       <div class="pundit-widget">
                           <h3>Redknapp's<br> Elite Pick</h3>
                           <img class="punditimage" src="images/pundits/redknapp.png" />
                           <div class="punditelite-pick greyglass-angle">Wayne Rooney<img class="teambadge" src="images/MUN.png" alt="Man Utd" /></div>
                       </div>
                   </div>
                   <div class="large-3 medium-6 small-12 columns">
                       <div class="pundit-widget">
                           <h3>Carragher's<br> Elite Pick</h3>
                           <img class="punditimage" src="images/pundits/carragher.png" />
                           <div class="punditelite-pick greyglass-angle">Juan Mata<img class="teambadge" src="images/MUN.png" alt="Man Utd" /></div>
                       </div>
                   </div>
                   <!--div class="row">
                       <div class="bubblepanel darkblueglass">
                           Our panel of pundits pick their Elite player for the match.<br />
                           Remember, you can only select one in your team.
                       </div>
                   </div-->
                   
               </div>
            </section>
            <h3 class="headerbar">How to play</h3>
            <section class="how-to-play-zone padded large-12 columns contentcontainer">
                    <div class="medium-4 small-12 columns ">
                        <div class="stepnumber">1</div>
                        <div class="steptext">
                            <h3>Login</h3>
                            <p>You can use your existing Sky Bet, Super 6 or Fantasy Football login details.</p>
                        </div>
                    </div>
                    <div class="medium-4 small-12 columns">
                        <div class="stepnumber">2</div>
                        <div class="steptext">
                            <h3>Select</h3>
                            <p>Your 6 man team including your Elite Player from this weekend's featured live match on Sky Sports.</p>
                        </div>
                    </div>
                    <div class="medium-4 small-12 columns">
                        <div class="stepnumber">3</div>
                        <div class="steptext">
                            <h3>Watch</h3>
                            <p>Choose a Power Play period and sit back and watch the action unfold.</p>
                        </div>
                    </div>
            </section>
        </script>
        <script type="text/template" id="tpl-punditpick">
        	<h2> Home</h2>
        </script>
        
        <script type="text/template" id="tpl-footer">
        	<div class="row">
            <div class="small-12 columns">
              <p class="links">
                <a href="#">link 1</a>
                <a href="#">link 2</a>
                <a href="#">link 3</a>
                <a href="#">link 4</a>
                <a href="#">link 5</a>
              </p>
              <p class="copywrite">Skybet © 2015</p>
            </div>
          </div>
        </script>
<!--	<% _.each(players, function(player) { %><li><%=player.ID%></li>
        			<%});%> -->
        <script type="text/template" id="tpl-eliteplayer">
        		
        		<% _.each(persons, function(person) { %>
        			<div class="playercontainer marginbottom greyglass-angle" data-playerid=<%=person.id%>>
                          
                             <img src="images/players/<%=person.id%>.png" class="eliteplayer_img" alt="player" />
                             <i class="fa fa-plus addplayerbutton blackgrad-flat eliteadd"></i>
                             <h3 class="playername"><%=person.stats0%></h3>
                             <h3 class="playerposition"><%=person.stats1%></h3>
                             <ul class="playercard_stats">
                               <li class="darkblueglass">Last game <span class="greyglass"><%=person.stats2%></span></li>
                               <li class="darkblueglass">Pts/Game <span class="greyglass"><%=person.stats3%></span></li>
                             </ul>
                             <a href="playerprofile.html" class="button">VIEW STATS</a>
                           
                          </div> 
        		<%});%>				
        </script>
        <script type="text/template" id="tpl-normalplayer">
        		
        		<% _.each(persons, function(person) { %>
        			<div class="playercontainer marginbottom greyglass-angle" data-playerid=<%=person.id%>>
                                <i class="fa fa-plus addplayerbutton blackgrad-flat normaladd"></i>
                                <h3 class="playername"><%=person.stats0%></h3>
                                <h3 class="playerposition"><%=person.stats1%></h3>
                                <ul class="playercard_stats">
                                  <li class="darkblueglass">Pts/Game <span class="greyglass"><%=person.stats3%></span></li>
                                </ul>
                                <a href="playerprofile.html" class="button">VIEW STATS</a>
                              </div>
        		<%});%>
        					
        </script>
        <script type="text/template" id="tpl-addeliteplayer">
        	<img src="images/players/<%=addplayer.id%>.png" class="eliteplayer_img" alt="player" />
             				<i class="fa fa-minus addplayerbutton blackgrad-flat"></i>
                           <h3 class="playername"><%=addplayer.stats0%></h3>
                           <h3 class="playerposition"><%=addplayer.stats1%></h3>
                           <ul class="playercard_stats">
                             <li class="darkblueglass">Last game <span class="greyglass"><%=addplayer.stats2%></span></li>
                             <li class="darkblueglass">Pts/Game <span class="greyglass"><%=addplayer.stats3%></span></li>
                           </ul>
                           <a href="playerprofile.html" class="button">VIEW STATS</a>
        </script>
        <script type="text/template" id="tpl-removeeliteplayer">
        <img src="images/blank_player.png" class="placeholder" alt="player-placeholder" />
                        <span class="button radius">Add Player</span>
         </script>
        <script type="text/template" id="tpl-addnormalplayer">
        	
        	<div class="playercontainer populated innershadow marginbottom normalplayer" data-selectednormalid=<%=addnormalplayer.id%>>
        		<img src="https://content.fantasyfootball.skysports.com/stff/images/players2016/260x260/<%=addnormalplayer.id%>.png" class="normalplayer_img" alt="player" />
                        <i class="fa fa-minus addplayerbutton blackgrad-flat"></i>
                        <h3 class="playername"><%=addnormalplayer.stats0%></h3>
                        <h3 class="playerposition"><%=addnormalplayer.stats0%></h3>
                        <ul class="playercard_stats">
                          <li class="darkblueglass">Pts/Game <span class="greyglass"><%=addnormalplayer.stats3%></span></li>
                        </ul>
                        <a href="playerprofile.html" class="button">VIEW STATS</a>
            </div>
            
        </script>
        <script>	
        
        	$(document).foundation();
        
        </script> 
        <script type="text/javascript">
				$(document).ready(function(e){
				 $('.item').click(function (e){
				 if($(this).next('.item-data').css('display') != 'block'){
				 $('.active').slideUp('fast').removeClass('active');
				 $(this).next('.item-data').addClass('active').slideDown('slow');
				 } else {
				 $('.active').slideUp('fast').removeClass('active');
				 }
				 });
				});
				</script>
    
        <script src="scripts/vendor/underscore.js"></script>
        <script src="scripts/vendor/backbone.js"></script>
        <script src="scripts/vendor/xdate.dev.js"></script>
 <!--       <script src="scripts/vendor/backbone.subviews-debug.js"></script>      --> 
        <script src="scripts/App.js"></script>
        <script src="scripts/json2.js"></script>
        <script src="scripts/views/menu.js"></script>
        <script src="scripts/views/home.js"></script>
        <script src="scripts/views/play.js"></script>
        <script src="scripts/views/footer.js"></script>
        <script src="scripts/views/form.js"></script>
        <script src="scripts/models/PlayerList.js"></script>
        <script src="scripts/skybet_local.js"></script>
        <script src="scripts/jquery.stff13.generic.0.41.js"></script> 
 <!--       <script src="scripts/models/headerInfo.js"></script> -->
        <script src="scripts/collections/ToDos.js"></script>
        <script>
            window.onload = function() {
                app.init();
            }

        </script>
       
 <!--<div style="display:block;height: 1261px; overflow-x: hidden; position: absolute; right: 0px; top: 0px; width: 330px; color: rgb(255, 255, 255); box-sizing: border-box; z-index: 20;">
<div style="left: 10px; position: absolute; top: 0px; width: 320px; box-shadow: 0px 0px 10px rgb(50, 50, 50); z-index: 21; display: block;">
<iframe id="SkyBetAccount" name="SkyBetAccount" src="https://www.skybet.com/secure/identity/m/login/fantasyfootball?urlconsumer=https://fantasyfootball.skysports.com&dl=1" style="border: 0px none; display: block; height: 1261px; width: 320px; background-color: white;" scrolling="no">
<!DOCTYPE html>
<html class="my-account-page ">
</iframe>
</div>
</div>   -->
    

</body>
</html>

