<!doctype html>
<html>

  <head>
		<title>My TODOs</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css" />
	</head>

	<body>

        <div class="container">
            <div id="menu" class="menu cf"></div>
            <h1></h1>
            <div id="content"></div>
        </div>

        <!-- Templates -->

        <script type="text/template" id="tpl-menu">
            <ul>
                <li><a href="#">List</a></li>
                <li><a href="#archive">Archive</a></li>
                <li class="right"><a href="#new">+</a></li>
            </ul>
        </script>
        <script type="text/template" id="tpl-list-item">
            <li class="cf done-<%= done %>" data-index="<%= index %>">
                <h2>
                    <input type="checkbox" data-status <%= doneChecked %> />
                    <a href="javascript:void(0);" data-up>&#8593;</a>
                    <a href="javascript:void(0);" data-down>&#8595;</a>
                    <%= title %>
                </h2>
                <div class="options">
                    <a href="#edit/<%= index %>">edit</a>
                    <a href="javascript:void(0);" data-archive><%= archiveLink %></a>
                    <a href="#delete/<%= index %>">delete</a>
                </div>
            </li>
        </script>
        <script type="text/template" id="tpl-form">
            <form>
                <textarea><%= title %></textarea>
                <button>save</button>
            </form>
        </script>

        <!-- Templates -->

        <script src="scripts/vendor/jquery-1.10.2.min.js"></script>
        <script src="scripts/vendor/underscore.js"></script>
        <script src="scripts/vendor/backbone.js"></script>
        <script src="scripts/App.js"></script>
        <script src="scripts/views/menu.js"></script>
        <script src="scripts/views/list.js"></script>
        <script src="scripts/views/form.js"></script>
        <script src="scripts/models/ToDo.js"></script>
        <script src="scripts/collections/ToDos.js"></script>
        <script>
            window.onload = function() {
                app.init();
            }
        </script>
	</body>

</html>