
      	<div class="row show-for-large-up">
        	add logos here
        </div>
        <div class="contain-to-grid sticky">
            <nav class="tab-bar mainblueskygrad">
              <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
              </section>
        
              <section class="middle tab-bar-section">
                <h1 class="title">SkySports</h1>
              </section>
            </nav>
        </div>
     
        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><a href="#">Home</a></li>
                <li><a href="#play">Play</a></li>
                <li><a href="#punditpicks">Pundit Picks</a></li>
                <li><a href="#leagues">Leagues</a></li>
                <li><a href="#leaderboard">Leaderboard</a></li>
                <li><a href="#stats">Stats</a></li>
                <li><a href="#fixtures">Fixtures &amp; Results</a></li>
                <li><a href="#winners">Winners</a></li>
            </ul>
        </aside>  
        
        <section class="header-home row collapse">
            
                    <div class="gameclock">
                      <p>Game kicks off in:</p>
                      <div class="row">
                          <div class="days">
                              <span>1</span>
                              <span>0</span>
                              <p>Days</p>
                          </div>
                          <div class="days">
                              <span>2</span>
                              <span>2</span>
                              <p>Hours</p>
                          </div>
                          <div class="days">
                              <span>2</span>
                              <span>6</span>
                              <p>Min</p>
                          </div>
                      </div>
                    </div>
    
                    <div class="featured-fixture small-12">
                        <div style="display:block" class="homebadgecontainer">
                            <img src="images/<%= HOMEID %>.png" alt=<%= HOME %> />
                        </div>
                        <div style="display:block" class="awaybadgecontainer">
                            <img src="images/<%= AWAYID %>.png" alt=<%= AWAY %> />
                        </div>
                        <div class="fixtureteaminfo ">
                            <span class="hometeam darkblueglass"><%= HOME %></span>
                            <span class="fixtureseperator greyglass">V</span>
                            <span class="awayteam darkblueglass"><%= AWAY %></span>
                        </div>
                        <div class="fixturedate">
                            Sunday 12th April 2015
                        </div>
                    </div>
    
                    <div style="display:none" class="small-12 maincall">
                        <h1>Pick Your Team To Win Cash Prizes</h1>
                        <a href="teamselect.html" class="button radius redgrad-flat">Play now</a>
                    </div>
              
            </section>
            
      