/* @override 
	http://dev-ssix.gfm.co.uk/css/offcanvas.css */

.main-section {
    width: 100%;
    transition: all 400ms ease; 
}

.offcanvas-overlay {
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    transition: all 400ms ease;
    width: 100%;
}

.offcanvas-sidebar {
    height: 100%;
    position: absolute;
    top: 0px;
    overflow-y: auto;
    transition: all 400ms ease;
    z-index: 100;
    background: linear-gradient(to bottom, #8694ab 0%, #97a5c2 100%) #77849a !important;   
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.offcanvas-nav {
  display: block;
}

.offcanvas-over-right .offcanvas-navicon {
    right: 1rem; 
}
.offcanvas-over-right .offcanvas-sidebar {
    right: 0;
    z-index: 100;
}

.offcanvas-push-left .offcanvas-navicon {
    left: 1rem; 
}
.offcanvas-push-left .offcanvas-sidebar {
    left: 0;
    margin-left: -18rem; 
}

.offcanvas-push-right .offcanvas-navicon {
    right: 1rem; 
}
.offcanvas-push-right .offcanvas-sidebar {
    right: 0;
  margin-right: -100%;
}

.offcanvas-under-left .offcanvas-navicon {
    left: 1rem; 
}
.offcanvas-under-left .offcanvas-sidebar {
    left: 0;
    margin-left: 0; 
}

.offcanvas-under-right .offcanvas-navicon {
    right: 1rem; 
}
.offcanvas-under-right .offcanvas-sidebar {
    right: 0;
    margin-right: 0; 
}
.offcanvas-under-right .offcanvas-sidebar {
    z-index: 0;
    margin-right: 0; 
}

.offcanvas-open .offcanvas-overlay {
    z-index: 100;
    background: #000;
    opacity: 0.75;
}
.offcanvas-open .offcanvas-overlay:hover {
    cursor: pointer; 
}
.offcanvas-open .offcanvas-over-left .offcanvas-sidebar {
    margin-left: 0;
    box-shadow: 0 0 0.3125rem #000; 
}
.offcanvas-open .offcanvas-over-right .offcanvas-sidebar {
    margin-right: 0;
    box-shadow: 0 0 0.3125rem #000; 
}
.offcanvas-open .offcanvas-push-left .offcanvas-overlay {
    margin-left: 15.625rem; 
}
.offcanvas-open .offcanvas-push-left .offcanvas-sidebar {
    margin-left: 0; 
}
.offcanvas-open .offcanvas-push-left .main-section {
    margin-right: -15.625rem;
    margin-left: 15.625rem; 
}
.offcanvas-open .offcanvas-push-right .offcanvas-overlay {
    margin-left: -17rem; 
}
.offcanvas-open .offcanvas-push-right .offcanvas-sidebar {
    margin-right: 0;
  width: 94%;
}
.offcanvas-open .offcanvas-push-right .main-section {
    margin-right: 15.625rem;
    margin-left: -15.625rem; 
}
.offcanvas-open .offcanvas-under-left .offcanvas-overlay {
    margin-left: 15.625rem; 
}
.offcanvas-open .offcanvas-under-left .main-section {
    margin-right: -15.625rem;
    margin-left: 15.625rem;
    box-shadow: 0 0 0.3125rem #000; 
}
.offcanvas-open .offcanvas-under-right .offcanvas-overlay {
    margin-left: -15.625rem;
}
.offcanvas-open .offcanvas-under-right .main-section {
    margin-right: 15.625rem;
    margin-left: -15.625rem;
    box-shadow: 0 0 0.3125rem #000; 
}

.offcanvas-sidebar div {
    transition: all 400ms ease; 
}

.offcanvas-child-link,
.offcanvas-child-back-link {
    display: none; 
}

@media (min-width: 640px) {

  .offcanvas-overlay {
    display: none;
  }

  .offcanvas-sidebar {
      height: 100%;
    overflow-y: auto;
      transition: all 400ms ease;
      z-index: 100;
      background-color: transparent;
      padding-top: 0.5em;
       transition: none;
  }
  
  .offcanvas-open .offcanvas-push-right .offcanvas-sidebar {
      margin-right: 0;
    width: 41.7%;
  }
}
