html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    outline: 0px none;
    font-size: 100%;
    background: none repeat scroll 0% 0% transparent;
}

.prize-container {
    width: 658px;
}

.ctv-prizes {
    background: url("images/ctv-prizesBG.jpg") no-repeat scroll 0px bottom #01176B;
    color: #FFF;
    height: 730px;
    padding: 10px;
    position: relative;
}

.ctv-prizes p {
    font-size: 11px;
}

body {
    font-family: Arial,Verdana,sans-serif;
    line-height: 1;
}

.ctv-prizes h3 {
    font-size: 16px;
}

h3, p {
    padding-bottom: 10px;
}

.ctv-prizeOverall {
    left: 200px;
    text-align: center;
    width: 300px;
    position: absolute;
}

.ctv-prizes h4 {
    font-size: 24px;
}

.ctv-prizeImg1 {
    left: 60px;
    padding-bottom: 20px;
    position: relative;
    top: 60px;
}

.ctv-prizeImg2 {
    left: 30px;
    margin-top: 20px;
    position: relative;
    top: 30px;
}

.ctv-prize1Text {
    left: 165px;
    top: 290px;
    width: 200px;
    position: absolute;
}

.ctv-prize2Text {
    padding-right: 10px;
    right: 55px;
    top: 300px;
    width: 170px;
    position: absolute;
}

.ctv-prizeMatch {
    width: 300px;
    float: left;
    position: relative;
    left: 25px;
    margin-right: 10px;
    top: 170px;
}

.ctv-prizeMatch img {
    padding: 10px;
}

.ctv-prizeImg3 {
    position: relative;
    left: -30px;
}

.ctv-prizeRound {
    width: 300px;
    float: left;
    position: relative;
    left: 25px;
    margin-right: 10px;
    top: 170px;
}

.ctv-prizeRound img {
    padding: 30px 20px 48px;
}

.breaker {
    height: 10px;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0px;
}

.ctv-prizes p.footer {
    position: absolute;
    bottom: 10px;
}