blockquote, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
	margin: 0;
padding: 0;
font-weight: normal;
position: relative;
}
@font-face{
font-family:"Avenir-Medium";
src:url("../fonts/AvenirNextLTW01-MediumC721311.eot?#iefix");
src:url("../fonts/AvenirNextLTW01-MediumC721311.eot?#iefix") format("eot"),
url("../fonts/AvenirNextLTW01-MediumC721311.woff") format("woff"),
url("../fonts/AvenirNextLTW01-MediumC721311.ttf") format("truetype"),
url("../fonts/AvenirNextLTW01-MediumC721311.svg#AvenirNextLTW01-MediumC721311") format("svg");
}

@font-face{
font-family:"Avenir-Bold";
src:url("../fonts/AvenirNextLTW01-BoldCn.eot?#iefix");
src:url("../fonts/AvenirNextLTW01-BoldCn.eot?#iefix") format("eot"),
url("../fonts/AvenirNextLTW01-BoldCn.woff") format("woff"),
url("../fonts/AvenirNextLTW01-BoldCn.ttf") format("truetype"),
url("../fonts/AvenirNextLTW01-BoldCn.svg#AvenirNextLTW01-BoldCn") format("svg");
}

/* START COLOR BOX CSS */
/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox:focus {
outline: none;
}
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;border:4px solid #000;background:#fff;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/*
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background-color:grey;}
#colorbox {}
#cboxTopLeft{width:20px; height:20px;}
#cboxTopRight{width:20px; height:20px;}
#cboxBottomLeft{width:20px; height:20px;}
#cboxBottomRight{width:20px; height:20px;}
#cboxMiddleLeft{width:20px;}
#cboxMiddleRight{width:20px;}
#cboxTopCenter{height:20px;}
#cboxBottomCenter{height:20px;}
#cboxContent{-moz-box-shadow: 1px 1px 30px #444;-webkit-box-shadow: 1px 1px 30px #444;box-shadow: 1px 1px 30px #444;}

#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{margin-bottom:0px;}
#cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
#cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
#cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
#cboxPrevious.hover{background-position:-75px -25px;}
#cboxNext.hover{background-position:-50px -25px;}
#cboxClose{position:absolute; top:-13px; right:-11px;text-indent:-9999px;width:31px;height:30px;
}
#cboxClose {
	position: absolute;
	top: -13px;
	right: -11px;
	background: url("../images/close.png") no-repeat;
	text-indent: -9999px;
	width: 31px;
	height: 30px;
	border: none;
}
/*
  The following fixes a problem where IE7+ replaces a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);}

.colorboxContent {
	position: relative;
	background: #fff;
	font-family: "Avenir-Medium", Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	padding: 10px;
}

.colorboxContent h1 {
	text-align: center;
	margin-bottom: 10px;
}

.colorboxContent p {
	text-align:center;
	margin-bottom: 10px;
}
/*

/* END COLOR BOX CSS */

body {
	background-color: #e8e8e8;
	font-family: "Avenir-Medium", Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Avenir-Bold", Verdana, sans-serif;
	color: #282828;
	text-transform: uppercase;
}

#mstf-header-outer {
	border-bottom: 1px solid #222;
}

#mstf-header {
	background: url('../images/header_bg.jpg') 0 0;
	padding: 9px;
	height: 65px;
	color: #fff;
	display: block;
	z-index: 9999;
	position: relative;
	background-size: cover;
}

.headLeft {
	position: absolute;
	left: 4px;
	top: 9px;
}

#mstf-header .headLeft a, #mstf-header .headLeft a:hover {
	float: left;
	text-indent: 20px;
	height: 25px;
	width: 15px;
	margin-right: 0;
	position: inherit;
	left: 10px;
	top: 30px;
	box-shadow: none;
	color: #fff;
	font-size: 16px;
	font-family: "Avenir-Medium", Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
}
a:link, a, a.visited {
	text-decoration: none;
}
.sprite {
	background-image: url('../images/sdt1415-iconsprite-v8@2x.png');
	background-repeat: no-repeat;
	display: block;
	background-size: 600px;
}

.backbtn {
	background-position: 5px -97px;
	height: 25px;
	width: 25px;
	line-height: 22px;
}

.leftArrow {
	position: absolute;
	left: 10px;
	top: 8px;
	background-position: 1px -145px;
	height: 25px;
	width: 15px;
}

.rightArrow {
	position: absolute;
	right: 10px;
	top: 8px;
	background-position: -45px -145px;
	height: 25px;
	width: 15px;
}

.headMiddleLogo a, .headMiddleLogo a:hover {
	background: url('../images/sfdt_logo.png') 0 0 no-repeat;
	text-indent: -9999px;
	width: 65px;
	text-align: center;
	height: 65px;
	float: left;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	color: black;
	background-size: 55px;
	top: 5px;
}

.header1 {
	background: #282828;
	font-family: "Avenir-Medium", Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	height: 40px;
	line-height: 40px;
	padding-left: 9px;
	text-align: center;
	border-style: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,.8);
}
.draggableContainer .teambudget {
	float:left;
	padding:10px;
}

.teambudget {
	margin: 0 auto;
	padding-top:5px;
	width: 120px;
	text-align: center;
	height: 50px;
}

.teambudget .budgetTitle {
	font-family: "Avenir-Medium", Verdana, sans-serif;
	font-size: 15px;
	line-height: 20px;
	font-weight: normal;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	display: block;
	color: #e20613;
	z-index:auto;
}
.teambudget .budgetRemain {
	font-family: "Avenir-Bold", Verdana, sans-serif;
	font-size: 32px;
	line-height: 25px;
	color: #e30613;
	text-align: center;
	width: 100%;
	float: left;
}

.droppableContainer {
	display:none;
	padding: 10px 0;
	height: 50px;
	width: 100%;
	background: #e30613;
	color: #fff;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	text-align: center;
}

.droppableContainer h1 {
	color:#fff;
	margin: 0 auto;
	width: 120px;
}

.droppableContainer p {
	text-transform: uppercase;
}

.whiteCross {
	width: 18px;
	height: 16px;
	background-position: -350px 0px;
	float: left;
	position: relative;
	top: 7px;
}

div#pitch {
  background: url('../images/pitch.png') 0px 50px;
  background-color:#e8e8e8;
  padding-bottom: 50px;
  background-size:contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 15px;
  width: 320px;
	height: 327px;
	position: relative;
	clear:both;
}

.sprite.icoInfo {
	background-position: -492px 0px;
	width: 27px;
	height: 27px;
	padding: 0 8px;
}

.sprite.icoInj {
	background-position: 9px -562px;
	width: 27px;
	height: 27px;
	background-size: 750px;
	padding: 0 8px;
}
.sprite.icoSus {
	background-position: -242px -562px;
	width: 27px;
	height: 27px;
	background-size: 750px;
	padding: 0 8px;
}

.sprite.icoDou {
	background-position: -117px -562px;
	width: 27px;
	height: 27px;
	background-size: 750px;
	padding: 0 8px;
}

.sprite.icoUna {
	background-position: -492px -562px;
	width: 27px;
	height: 27px;
	background-size: 750px;
	padding: 0 8px;
}
	
.pla-icon {
	position: absolute;
	width: 62px;
	height: 76px;
	overflow: hidden;
	z-index:2;
}

.pla-icon img {
  display: block;
  position: absolute;
  top: 12px;
  left: 0px;
  right: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 auto;
}

.pla-name {
	left: 0px;
	width: 60px;
	height: 15px;
	line-height: 15px;
	font-size: 8px;
	color: #000;
	text-align: center;
	background: #fff;
	position: absolute;
	top: 60px;
	overflow: hidden;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.pla-team {
  width: 60px;
  height: 15px;
  padding: 0 1px;
  font-size: 10px;
  line-height: 15px;
  font-family: "Avenir-Medium", Verdana, sans-serif;
  color: white;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 2px;
}  

.pla-icon .pla-avail {
	position: absolute;
	bottom: 16px;
	left: 0;
}

.pla-avail .sprite.icoInj {
	background-position: -0px -450px;
	width: 22px;
	height:22px;
	background-size: 600px;
}

.pla-avail .sprite.icoSus {
	background-position: -200px -450px;
	width: 22px;
	height:22px;
	background-size: 600px;
}


.pla-avail .sprite.icoDou {
	background-position: -100px -450px;
	width: 22px;
	height:22px;
	background-size: 600px;
}

.pla-avail .sprite.icoUna {
	background-position: -400px -450px;
	width: 22px;
	height:22px;
	background-size: 600px;
}

    
.pla-team.ars {background: #cd1f33;}
.pla-team.avl {background: #8d1c43;}
.pla-team.bur {background: #a2303f;}
.pla-team.che {background: #296bbb;}
.pla-team.cry {background: #4870cd;}
.pla-team.eve {background: #0049a8;}
.pla-team.hul {background: #E8963D;}
.pla-team.lei {background: #1563BF;}
.pla-team.liv {background: #dc233c;}
.pla-team.mcy {background: #82bdeb;}
.pla-team.mun {background: #dc233c;}
.pla-team.new {background: #1e1e1e;}
.pla-team.qpr {background: #2d73b0;}
.pla-team.sot {background: #d83832;}
.pla-team.sto {background: #ec2b3e;}
.pla-team.sun {background: #db001b;}
.pla-team.swa {background: #232222;}
.pla-team.tot {background: #0e195b;}
.pla-team.wba {background: #011957;}
.pla-team.whm {background: #8f2c41;}

.pla-team.aut {background: #df1018;}
.pla-team.bel {background: #d00228;}
.pla-team.bih {background: #07439b;}
.pla-team.cro {background: #cd021f;}
.pla-team.cze {background: #b20d1e;}
.pla-team.den {background: #7a0522;}
.pla-team.eng {background: #de090d;}
.pla-team.ger {background: #333333;}
.pla-team.gre {background: #003480;}
.pla-team.ice {background: #0077b9;}
.pla-team.ita {background: #0d5cd3;}
.pla-team.mon {background: #ce012a;}
.pla-team.nir {background: #05504b;}
.pla-team.net {background: #f36b21;}
.pla-team.pol {background: #d5332e;}
.pla-team.pot {background: #b20113;}
.pla-team.irl {background: #117d4c;}
.pla-team.rmn {background: #eecb00;}
.pla-team.rus {background: #4e121a;}
.pla-team.sco {background: #1a2842;}
.pla-team.srb {background: #db323e;}
.pla-team.svk {background: #014ab1;}
.pla-team.esp {background: #b02221;}
.pla-team.swe {background: #feda02;color:#000}
.pla-team.sui {background: #a51f26;}
.pla-team.tur {background: #f41a3c;}
.pla-team.wal {background: #d6092a;}

.pla-price,
.pla-pts {
    left: 0px;
    white-space: nowrap;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    color: #E0001B;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 0px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #E0001B;
}

.pla-price {
	width: 27px;
	height: 27px;
  line-height: 29px;
  font-size: 11px;
}

div.f1442 .icon1  {top:0px;left:130px;}
div.f1442 .icon2  {top:85px;left:32px;}
div.f1442 .icon3  {top:85px;left:96px;}
div.f1442 .icon4  {top:85px;left:165px;}
div.f1442 .icon5  {top:85px;left:229px;}
div.f1442 .icon6  {top:170px;left:32px;}
div.f1442 .icon7  {top:170px;left:96px;}
div.f1442 .icon8  {top:170px;left:165px;}
div.f1442 .icon9  {top:170px;left:229px;}
div.f1442 .icon10 {top:255px;left:96px;}
div.f1442 .icon11 {top:255px;left:165px;}

div.f1433 .icon1  {top:0px;left:130px;}
div.f1433 .icon2  {top:85px;left:32px;}
div.f1433 .icon3  {top:85px;left:96px;}
div.f1433 .icon4  {top:85px;left:165px;}
div.f1433 .icon5  {top:85px;left:229px;}
div.f1433 .icon6  {top:170px;left:32px;}
div.f1433 .icon7  {top:170px;left:128px;}
div.f1433 .icon8  {top:170px;left:224px;}
div.f1433 .icon9  {top:255px;left:32px;}
div.f1433 .icon10 {top:255px;left:128px;}
div.f1433 .icon11 {top:255px;left:229px;}

.buttonL {
	font-size: 18px;
	font-family: "Avenir-Medium", Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	color: rgb( 254, 254, 254 );
	text-transform: uppercase;
	line-height: 47px;
	text-align: center;
	background: rgb( 227, 6, 19 );
	border: 0;
	width: 100%;
	height: 45px;
	display: block;
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
	cursor: pointer;
}

.greenBtn {
	color: #fff;
	background: #00755C;
	text-transform: uppercase;
	border: none;
	margin-bottom: 10px;
}

.sidebarLeft, .sidebarRight, .page .scrollableArea, .page { 
  background-color: #e7e8e7 !important;
}
/* TAB SELECT */

ul.gfm-tabs             {
  position:relative;
  list-style:none;
  list-style-type:none;
  height:40px !important;
	margin-bottom: 0;
	width: 100%;
}

ul.gfm-tabs li          {
  position:relative;
  float:left;
  font-size:0.9em;
  margin: 0px;
  padding-right:3px;
  width:25%;
  height:40px;
  overflow:hidden;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */     
}
    
ul.gfm-tabs li a {
	display:block;
	width:100%;
	height:40px;
	line-height:40px;
	text-decoration:none;
	text-align:center;
	text-transform:uppercase;
	font-family: "Avenir-Medium", Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size:18px;
	font-weight:normal;
	background: #cccccc;
	color: #272827;
}

ul.gfm-tabs li.on a     {
  background: #e30613; 
  color:#ffffff;
  cursor: default;
  pointer-events: none;
}

ul.gfm-tabs li a:hover {
  background: #e30613;
  color: #ffffff;
}

ul.gfm-tabs li:first-child {
  padding-left: 0;
}

ul.gfm-tabs li:last-of-type {
	padding-right: 0;
}

div.player-tab {
	float:left;
	width: 100%;
	overflow:hidden;
	margin-top: 10px;
}
div.player-tab ul {background:transparent;}

div.player-tab ul.gfm-tabs li a {
  text-transform:uppercase;
  text-align:center;
  background-repeat: no-repeat;
  height: 40px;
}

div.player-tab .gfm-tab-content {
  width:100%;
  padding:0px;
	margin-top: 0;
}

/* TAB SELECT END */
table.placols {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	text-align: left;
	text-indent: 10px;
	table-layout: fixed;
}

table.placols th {
	background: #282828;
	font-size: 12px;
	height: 34px;
	color: #ffffff;
	text-transform: uppercase;
	border-right: 1px none #c8c8c8;
	line-height: 30px;
	font-family: "Avenir-Medium", Verdana, sans-serif !important;	
}

table.placols th:first-child,
table.placols td:first-child {
	width: 45%;
}

table.placols td {
	font-family: "Avenir-Medium", Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #f0f0f0;
	color: #7a7b7a;
	font-size: 14px;
	height: 42px;
	line-height: 30px;
	white-space: nowrap;
	overflow: hidden;
	border-bottom-style: none;
	border-bottom: 1px solid #e3e3e3;
}

table.placols td.plaAdded {
	text-align: center;
}
table.placols .picked td {
	background: #00755C;
	color: #fff;
}

table.sortable th span{
	display: block;
	background-image: url("../images/sdt-sprite-new12.png");
	background-position: -250px 0px;
	width: 10px;
	height: 13px;
	float: right;
	margin-top: 9px;
}

table.sortable th span.up {
	background-position: -300px 0px;
}

table.sortable th span.down {
	background-position: -350px 8px;
}

table.sortable th.double span{
	margin-top:-5px;
}

#plaSelContainer {
	float: left;
	display:block;
}

p#currFormLabel {
	float: right;
	color: #e30613;
	margin-right: 25px;
	margin-top: 10px;
	text-transform: uppercase;	
}
.swiper-container {
	width: 100%;
}

.swiper-slide {
	width: 100%;
	font-size: 18px;
	background: #e8e8e8;
}

.swiper-slide, .swiper-wrapper{
	position:relative;
	width:100% ;
}

.swiper-container{
	margin:0 auto;
	position:relative;
	overflow:hidden;
	height: 408px;
}

.swiper-wrapper{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;}

.swiper-container .arrow-left {
	position: absolute;
	background: url('../images/carousel-arrows.png') 10px center no-repeat rgba(168, 0, 0, 0.75);
	top: 25%;
	height: 80px;
	left: 0;
	width: 30px;
	z-index: 2;
}

.swiper-container .arrow-right {
	position: absolute;
	background: url('../images/carousel-arrows.png') -38px center no-repeat rgba(168, 0, 0, 0.75);
	top: 25%;
	right: 0px;
	height: 80px;
	width: 30px;
	z-index: 2;
}
.swiper-container a:link, .swiper-container a, .swiper-container a.visited  {
	color: #282828;
}
a.pitchView {
	float: left;
	color: #e30613;
	margin-left: 25px;
	margin-top: 10px;
	text-transform:uppercase;
}

a.listView {
	float: right;
	color: #e30613;
	margin-right: 25px;
	margin-top: 10px;
	text-transform:uppercase;
}

