/* @override 
	http://test-uefa.gfm.co.uk/playstation/css/playstation.css */

body {
  max-width: 1920px;
  max-height: 1080px;
  position: relative;
  color: #fff;
  background: url("../images/background.jpg") center -42px no-repeat fixed;
  background-size: 1920px 1080px;
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, li {
  font: normal normal 16px/120% "Calibri", Arial, Helvetica, Geneva, sans-serif;
}

.gamescreen {
  height: 760px;
  margin-right: 88px;
  margin-left: 88px;
}

.no-padding {
  padding: 0;
}

.leftpanel {
  margin-right: 10px;
  display: block;
  float: left;
  width: 906px;
  height: 754px;
  background-color: rgba(225, 225, 225, 0.15);
}

.rightpanel {
  margin-left: 0;
  display: block;
  width: 828px;
  float: right;
  height: 754px;
  background-color: rgba(225, 225, 225, 0.15);
}

.instructionpanel {
  min-height: 415px;
  margin-bottom: 10px;
  display: block;
  float: left;
  clear: both;
  width: 100%;
  height: 689px;
}

.instructionpanel p {
  width: 466px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  display: block;
  font-size: 32px;
  line-height: 120%;
}

.instructionpanel p:first-of-type {
  margin-top: 195px;
}

.budget {
  margin-bottom: 0;
  display: block;
  float: left;
  clear: both;
  width: 100%;
  font-size: 30px;
  text-indent: 10px;
  line-height: 51px;
}



.budget span {
  font-size: 40px;
}

.controlbar {
  position: absolute;
  width: 100%;
  background-image: -webkit-linear-gradient(left, rgba(20, 42, 91, 0.8) 0%, rgba(0, 134, 220, 0.8) 100%);
  background-image: -moz-linear-gradient(left, rgba(20, 42, 91, 0.8) 0%, rgba(0, 134, 220, 0.8) 100%);
  background-image: -ms-linear-gradient(left, rgba(20, 42, 91, 0.8) 0%, rgba(0, 134, 220, 0.8) 100%);
  background-image: linear-gradient(to right, rgba(20, 42, 91, 0.8) 0%, rgba(0, 134, 220, 0.8) 100%);
  height: 150px;
}

/* background fills */

.darkbluefill {
  background-color: rgba(24, 38, 73, 0.8);
  color: #fff;
}

.whitefill {
  background-color: #fff;
  color: #000;
}

.blackfill {
  background-color: #000;
  color: #fff;
}

.blackfadefill {
  background-color: rgba(0, 0, 0, 0.71);
  color: #000;
}

.bluegrad {
  background-image: -webkit-linear-gradient(top, #0096F4 0%, #003366 100%);
  background-image: -moz-linear-gradient(top, #0096F4 0%, #003366 100%);
  background-image: -ms-linear-gradient(top, #0096F4 0%, #003366 100%);
  background-image: linear-gradient(to bottom, #0096F4 0%, #003366 100%);
  color: #fff;
}

/* Header elements */

header {
  position: relative;
}

h1.gamename {
  color: #fff;
  font-weight: normal;
  font-style: normal;
  font-size: 67px;
  display: block;
  float: left;
  margin: 20px 0 0;
  padding: 0;
}

.timer-container {
  float: right;
  text-align: right;
  width: 520px;
  position: absolute;
  right: 0;
  bottom: 63px;
}

.timer-text {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 100%;
  font-weight: bold;
  margin-top: 17px;
  width: 310px;
  float: left;
}

.timer {
  display: block;
  background: url(../images/timer_bg.jpg) no-repeat;
  width: 206px;
  height: 51px;
  float: right;
}

.headerbar {
  background: -webkit-linear-gradient(left, rgba(0, 137, 223, 0) 0%, #008adf 6.7%, #008adf 91.9%, rgba(0, 137, 223, 0) 98.7%) center no-repeat;
  background: -moz-linear-gradient(left, rgba(0, 137, 223, 0) 0%, #008adf 6.7%, #008adf 91.9%, rgba(0, 137, 223, 0) 98.7%) center no-repeat;
  background: -ms-linear-gradient(left, rgba(0, 137, 223, 0) 0%, #008adf 6.7%, #008adf 91.9%, rgba(0, 137, 223, 0) 98.7%) center no-repeat;
  background: linear-gradient(to right, rgba(0, 137, 223, 0) 0%, #008adf 6.7%, #008adf 91.9%, rgba(0, 137, 223, 0) 98.7%) center no-repeat;
  text-align: center;
  height: 54px;
  line-height: 52px;
  font-size: 30px;
  clear: both;
  margin-bottom: 10px;
}

/* pitch elements */

.pitch { 
  min-height: 469px;
  position: relative;
  height: 620px;
  width: 100%;
  margin-bottom: 10px;
}

.pitchcontainer {
  background: url("../images/pitch.jpg") left top no-repeat;
  background-size: 100%;
  height: 620px;
  position: relative;
}

.pitch a.button {
  position: absolute;
  top: 68px;
  left: 374px;
  width: 160px;
  height: 130px;
  margin: 0;
  line-height: 40px;
  font-size: 15px;
}

.formation {
  width: 178px;
  height: 124px;
  display: block;
  float: left;
  margin-right: 13px;
  color: #fff;
}

ul.subs {
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.subs li {
  width: 175px;
  height: 124px;
  display: block;
  float: left;
  margin-right: 5px;
  color: #fff;
}

ul.subs li:last-child {
  margin-right: 0;
}

/*------------------------
Formations 
------------------------ */

.playerholder {
  position: absolute;
  width: 155px;
  text-align: center;
  height: 135px;
}

.playername {
  background-image: -webkit-linear-gradient(top, #858585 0%, #151515 88%);
  background-image: -moz-linear-gradient(top, #858585 0%, #151515 88%);
  background-image: -ms-linear-gradient(top, #858585 0%, #151515 88%);
  background-image: linear-gradient(to bottom, #858585 0%, #151515 88%);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  border-top: 1px solid #151515;
  position: absolute;
  width: 155px;
  top: 81px;
}

.playerpts {
  position: absolute;
  width: 65px;
  top: 100px;
  font-size: 14px;
  background-color: #000;
  left: 44px;
}

/* 343 */

.f434 .icon1 {
  top: 68px;
  left: 377px;
}

/* Player Select modal */

.playerselectmodal {
  
}

.playerselectmodal h3.tableheader  {
  color: #fff;
  margin: 0;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 28px;
  padding-right: 10px;
  padding-left: 10px;
}

.modalheader {
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  height: 60px;
}

.modalheader h3 {
  font-size: 28px;
  color: #fff;
  line-height: 60px;
  margin: 0;
}

.playerdata-container {
    height: 372px;
  overflow: scroll;
}

table.columnheader {
  background-color: #fff;
  height: 44px;
  margin-bottom: 0;
  border-collapse: collapse;
}

table.columnheader tr td {
  background-color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 44px;
  padding: 0;
  font-weight: normal;
  font-style: normal;
}

table.playerdata,
table.playerdata tr {
  background-color: #000;
  border-style: none;
  border-collapse: collapse;
}

table.playerdata tr td {
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  margin: 0;
  padding: 5px 0;
  display: table-cell;
}

table.playerdata tr:hover,
table.columnheader tr:hover  {
  background: #0091ee;
}

table.playerdata td.col1,
table.columnheader td.col1 {
  width: 155px;
}

table.playerdata td.col2,
table.columnheader td.col2 {
  width: 175px;
}

table.playerdata td.col3,
table.columnheader td.col3,
table.playerdata td.col4,
table.columnheader td.col4 {
  width: 135px;
}

table.playerdata td.col5,
table.columnheader td.col5 {
  width: 190px;
}


